---
openapi: 3.0.1
info:
  title: Account Service
  description: The account service helps to create and manage product accounts serviced by the financial institutions. It is also used to retrieve information about the existing accounts and maintain information of new accounts.
  version: 11.0.0_PRM-Inq_CDA
servers:
  - url: https://bankinghub-cert-fiservapis.azure-api.net/premier-account-service/v1
paths:
  /banking/efx/v1/acctservice/acctmgmt/accounts/secured:
    post:
      tags:
        - Get Accounts
      summary: Get Accounts (Multiple Types)
      description: >
        This API retrieves account details for multiple account types including:
        CDA, DDA, DDL, LOAN, LOAN_INET, and SDA.
      operationId: getAccountsSecured
      security:
        - OAuth2ClientCredentials: []
      parameters:
        - name: EFXHeader
          in: header
          schema:
            type: string
          example: '{"OrganizationId":"999990300","TrnId":"123"}'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              oneOf:
                - $ref: '#/components/schemas/getAccountsSecuredRequestcda'
                - $ref: '#/components/schemas/getAccountsSecuredRequestdda'
                - $ref: '#/components/schemas/getAccountsSecuredRequestddl'
                - $ref: '#/components/schemas/getAccountsSecuredRequestloan'
                - $ref: '#/components/schemas/getAccountsSecuredRequestloaninet'
                - $ref: '#/components/schemas/getAccountsSecuredRequestsda'
            examples:
              CDA:
                value:
                  AcctSel:
                    AcctKeys:
                      AcctId: '19006281'
                      AcctType: 'CDA'
              DDA:
                value:
                  AcctSel:
                    AcctKeys:
                      AcctId: '11917'
                      AcctType: 'DDA'
              DDL:
                value:
                  AcctSel:
                    AcctKeys:
                      AcctId: '19006283'
                      AcctType: 'DDL'
              LOAN:
                value:
                  AcctSel:
                    AcctKeys:
                      AcctId: '3118'
                      AcctType: 'LOAN'
              LOAN_INET:
                value:
                  AcctSel:
                    AcctKeys:
                      AcctId: '19006285'
                      AcctType: 'LOAN'
              SDA:
                value:
                  AcctSel:
                    AcctKeys:
                      AcctId: '10581'
                      AcctType: 'SDA'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                oneOf:
                  - $ref: '#/components/schemas/getAccountsSecuredResponsecda'
                  - $ref: '#/components/schemas/getAccountsSecuredResponsedda'
                  - $ref: '#/components/schemas/getAccountsSecuredResponseddl'
                  - $ref: '#/components/schemas/getAccountsSecuredResponseloan'
                  - $ref: '#/components/schemas/getAccountsSecuredResponseloaninet'
                  - $ref: '#/components/schemas/getAccountsSecuredResponsesda'
              examples:
                CDA:
                  value:
                    Status:
                      StatusCode: '0'
                      StatusDesc: Success
                      Severity: Info
                      SvcProviderName: Premier
                    AcctRec:
                      AcctKeys:
                        AcctId: '290001702'
                        AcctType: CDA
                      DepositAcctInfo:
                        Naics: '0'
                        AcctDtlStatus: Active
                        AcctDtlStatusEnumDesc: Active
                        AcctPref:
                          Language: UsePortfolio
                        AcctIdent:
                          - AcctIdentType: PORT
                            AcctIdentValue: '82275'
                        ProductIdent: '10383000'
                        TaxIncentiveType: None
                        TaxIncentiveTypeEnumDesc: No Special Reporting
                        InitialAmount:
                          Amt: 411.01
                          CurCode:
                            CurCodeType: ISO4217-Alpha
                            CurCodeValue: USD
                        OpenDt: '2011-03-03'
                        BalanceAtClosingAmt:
                          Amt: 0
                          CurCode:
                            CurCodeType: ISO4217-Alpha
                            CurCodeValue: USD
                        Term:
                          Count: 18
                          TermUnits: Months
                          TermUnitsEnumDesc: Months
                        TermToMaturity:
                          Count: 8
                          TermUnits: Months
                        MaturityDt: '2024-02-20'
                        LastContactDt: '2021-05-20'
                        DateData:
                          - DateType: LastFileMaint
                            DateValue: '2022-08-19'
                          - DateType: LastTrn
                            DateValue: '2023-05-19'
                          - DateType: LastPrc
                            DateValue: '2023-06-15'
                          - DateType: Accrual
                            DateValue: '2023-06-15'
                          - DateType: IRALastStmt
                            DateValue: '2021-12-31'
                        RelationshipMgr:
                          - RelationshipMgrIdent: '0'
                            RelationshipRole: Officer
                          - RelationshipMgrIdent: '0'
                            RelationshipRole: SecondOfficer
                          - RelationshipMgrIdent: '0'
                            RelationshipRole: ReferralOfficer
                        OriginatingBranch: '2'
                        OriginatingBranchEnumDesc: Premier UAT Branch 2
                        ResponsibleBranch: '2'
                        NicknameOption: NotPrinted
                        AcctTitleOption: NotPrinted
                        HandlingCodeOption: StatementsNoticesChecks
                        OEDCode: '0'
                        AccountingMethod: Class
                        AccountingValue: '75'
                        ClassCode: '75'
                        AcctTypeCode: '110'
                        AcctOpenMethod: InPerson
                        ClientDefinedData:
                          - DataIdent: '11'
                            DataType: Alpha
                            Value: BMW
                            DataLength: 3
                            Desc: BMW
                            RequiredFlag: false
                        AcctStmtData:
                          StmtTimeFrame:
                            - RecurType: Cycle
                              RecurInterval: 0
                              AlternateStmtInd: false
                              AlternateStmtOption: None
                          CombinedStmtIdent: '0'
                          CombinedStmtCode: DoNotCombine
                          SpecialStmtCode: None
                        NoticeData:
                          - NoticeType: RegularNotice
                            NoticeOption: AllNotification
                          - NoticeType: BalanceOnReceipt
                            NoticeOption: NoOverride
                          - NoticeType: IntNotice
                            NoticeOption: NoOverride
                          - NoticeType: MaturityNotice
                            NoticeOption: NoOverride
                          - NoticeType: RateChangeNotice
                            NoticeOption: '0'
                            GenLastUpDtInd: false
                        ProdIntRateId: '60'
                        ProdIntRateIdEnumDesc: 18 MONTH VAR IRA
                        Rate: 4.5
                        EffectiveRate: 4.5
                        IntRateData:
                          APYRecurType: IntPmtFrequency
                          AccrualMethod: Simple
                          AccrualMethodEnumDesc: Simple
                          DailyAccrual: Daily365
                          DailyAccrualFactor: 0.0228
                        MaturityIntCalcData:
                          MaturityIntRateType: CurrentRate
                          MaturityIntRate: 0
                          MaturityIntRecurType: Daily
                          MaturityIntInterval: 0
                        RateChangeData:
                          - RateChangeControl: VariableRate
                            RateChangeControlEnumDesc: VariableRate
                            VarianceFactorType: None
                            RateVariance: 0
                            IncreaseOnlyInd: false
                            FloorRate: 0
                            CeilingRate: 0
                            RateChangeRecurType: Maturity
                            RateChangeRecurTypeEnumDesc: Maturity
                            LeadDays: 0
                        AcctBal:
                          - BalType: Avail
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Closing
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: BalanceLastStatement
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Current
                            CurAmt:
                              Amt: 185.53
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Hold
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: InterestAccrued
                            CurAmt:
                              Amt: 0.62
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Ledger
                            CurAmt:
                              Amt: 185.53
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: OpeningOutstanding
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: PrevInterestAccrued
                            CurAmt:
                              Amt: 0.59
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: PrevLedger
                            CurAmt:
                              Amt: 185.53
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: PrincipalPenalty
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Redemption
                            CurAmt:
                              Amt: 186.15
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                        AcctPeriodData:
                          - AcctAmtType: Credit
                            AcctPeriodType: CTD
                            LastOccurInd: false
                            Amt: 6.38
                            Count: 3
                          - AcctAmtType: Debit
                            AcctPeriodType: CTD
                            Amt: 0
                            Count: 0
                          - AcctAmtType: Debit
                            AcctPeriodType: LTD
                            Amt: 0
                          - AcctAmtType: Deposit
                            AcctPeriodType: LTD
                            LastOccurInd: true
                            Amt: 411.01
                            LastOccuranceDt: '2011-03-03'
                          - AcctAmtType: FederalWithhold
                            AcctPeriodType: PriorYr
                            Amt: 0
                          - AcctAmtType: FederalWithhold
                            AcctPeriodType: YTD
                            Amt: 0
                          - AcctAmtType: FederalWithhold
                            AcctPeriodType: AnniversaryTD
                            Amt: 0
                          - AcctAmtType: ForfeitureAmt
                            AcctPeriodType: PriorYr
                            Amt: 0
                          - AcctAmtType: ForfeitureAmt
                            AcctPeriodType: YTD
                            Amt: 0
                          - AcctAmtType: ForfeitureAmt
                            AcctPeriodType: AnniversaryTD
                            Amt: 0
                          - AcctAmtType: HSA
                            AcctPeriodType: PriorCycle
                            Amt: 0
                          - AcctAmtType: IntEarned
                            AcctPeriodType: TotalInCycle
                            InPeriod:
                              Count: 276
                              Units: Days
                            LastOccurInd: false
                            Amt: 6.31
                          - AcctAmtType: IntEarned
                            AcctPeriodType: MTD
                            Amt: 0.35
                          - AcctAmtType: IntEarned
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 3.69
                          - AcctAmtType: IntEarned
                            AcctPeriodType: AnniversaryTD
                            LastOccurInd: false
                            Amt: 6.66
                          - AcctAmtType: IntEarned
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 3.14
                          - AcctAmtType: IntEarned
                            AcctPeriodType: CTD
                            InPeriod:
                              Count: 27
                              Units: Days
                            Amt: 0.62
                          - AcctAmtType: IntEarned
                            AcctPeriodType: PriorMonth
                            Amt: 0.69
                          - AcctAmtType: IntPaid
                            AcctPeriodType: LTD
                            Amt: 0
                          - AcctAmtType: IntPaid
                            AcctPeriodType: PriorCycle
                            LastOccurInd: false
                            Amt: 6.04
                            LastOccuranceDt: '2023-05-19'
                          - AcctAmtType: IntPaid
                            AcctPeriodType: MTD
                            Amt: 0
                          - AcctAmtType: IntPaid
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Amt: 6.04
                          - AcctAmtType: IntPaid
                            AcctPeriodType: PriorYr
                            Amt: 0.34
                          - AcctAmtType: IntPaid
                            AcctPeriodType: AnniversaryTD
                            LastOccurInd: false
                            Amt: 6.04
                          - AcctAmtType: IntPaid
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 6.04
                          - AcctAmtType: IntCarryOver
                            AcctPeriodType: CTD
                            Amt: 0
                          - AcctAmtType: StateWithhold
                            AcctPeriodType: PriorYr
                            Amt: 0
                          - AcctAmtType: StateWithhold
                            AcctPeriodType: YTD
                            Amt: 0
                          - AcctAmtType: StateWithhold
                            AcctPeriodType: AnniversaryTD
                            Amt: 0
                          - AcctAmtType: Statement
                            AcctPeriodType: PriorCycle
                            LastOccurInd: true
                            Amt: 179.15
                            LastOccuranceDt: '2021-12-31'
                          - AcctAmtType: Statement
                            AcctPeriodType: CTD
                            Amt: 0
                            Rate: 4.5
                          - AcctAmtType: IntPaidOut
                            AcctPeriodType: AnniversaryTD
                            Amt: 0
                          - AcctAmtType: AccrueOnBalance
                            AcctPeriodType: LTD
                            LastOccurInd: true
                            Amt: 185.53
                          - AcctAmtType: IntReported
                            AcctPeriodType: AnniversaryTD
                            LastOccurInd: false
                            Amt: 6.04
                          - AcctAmtType: AggLedger
                            AcctPeriodType: AnniversaryTD
                            InPeriod:
                              Count: 300
                              Units: Days
                            LastOccurInd: false
                            Amt: 54010.08
                          - AcctAmtType: Principal
                            AcctPeriodType: Anniversary
                            LastOccurInd: true
                            Amt: 179.49
                            LastOccuranceDt: '2022-08-20'
                        PostAddr:
                          - NameIdent:
                              - '3150022'
                            AddressIdent: '2046353'
                            AddrUse: Inquiry
                            AddrFormatType: Label
                            FullName1: RUTH U ROGERS
                            Addr1: 9854 SIXTH ST.
                            City: MIDLAND
                            StateProv: VA
                            PostalCode: 68104-0000
                            CountryCode:
                              CountryCodeSource: SPCountryCode
                              CountryCodeValue: ' '
                            AddrType: Primary
                            CensusTract: '0'
                            CensusBlock: '0'
                            ForeignFlag: false
                            HandlingCodeOption: StatementsNoticesChecks
                            MSACode: 0
                        TaxIdentType: SSN
                        TaxIdent: '503124121'
                        TaxExempt: NotTaxExempt
                        WithholdingOption: None
                        WithholdingOptionEnumDesc: None
                        IntReportingInd: true
                        IntReportingCode: 1099_INT
                        CreditRisk:
                          - RiskCategory: RiskScore1
                            InternalScore: '0'
                          - RiskCategory: RiskScore2
                            InternalScore: '0'
                        RiskRanking: None
                        TrnRestriction: '0'
                        TrnRestrictionOvrd: '0'
                        ElectronicBankingOpt: Enable
                        ReportGroupCode: '0'
                        DocDistributionOption: '10'
                        NAICS: '0'
                        CostCenter: '0'
                        AcctMemoData:
                          - AcctMemoIdent: '1'
                            AcctMemoType: Teller
                            AcctMemoText: '0'
                          - AcctMemoIdent: '2'
                            AcctMemoType: Teller
                            AcctMemoText: '0'
                          - AcctMemoIdent: '3'
                            AcctMemoType: Teller
                            AcctMemoText: '0'
                        RenewalData:
                          OrigIssueDt: '2011-03-03'
                          OrigMatDt: '2015-08-27'
                          RenewalOption: AutomaticRenewal
                          RenewalOptionEnumDesc: Automatic renewal
                          LastRenewalDt: '2022-08-20'
                        NegotiableInstrumentInd: false
                        IntDispData:
                          IntDisposition: Capitalize
                          DistributionAmt:
                            Amt: 0
                            CurCode:
                              CurCodeType: ISO4217-Alpha
                              CurCodeValue: USD
                          WithholdingOption: None
                          IntPmtFrequency:
                            - RecurType: Yearly
                              RecurTypeEnumDesc: Yearly
                              RecurInterval: 1
                          NextIntPmtDt: '2024-05-19'
                          LastIntPmtDt: '2023-05-19'
                        RetirementAcctData:
                          RetirementPlanType: '1'
                          RetirementPlanTypeEnumDesc: INDIV IRA
                          RetirementStatus: DistributionNormal
                          RetirementStatusEnumDesc: Distribution normal
                        SvcChgData:
                          CreditBackAcct:
                            - CreditBackIdent: '0'
                        CollateralPledgeCode: '0'
                        HoldInd: false
                        StopInd: false
                        CheckNameOption: None
                        ForfeitureCalcMethod: Forfeiture1
                      AcctStatus:
                        AcctStatusCode: Valid
                        EffDt: '2023-06-16T19:38:24.182'
                DDA:
                  value:
                    Status:
                      StatusCode: '0'
                      StatusDesc: Success
                      Severity: Info
                      SvcProviderName: Premier
                    AcctRec:
                      AcctKeys:
                        AcctId: '5041733'
                        AcctType: DDA
                      DepositAcctInfo:
                        Naics: '0'
                        AcctDtlStatus: Active
                        AcctDtlStatusEnumDesc: Active
                        AcctDtlStatusDt: '2023-03-14'
                        AcctPref:
                          Language: UsePortfolio
                        AcctIdent:
                          - AcctIdentType: PORT
                            AcctIdentValue: '82002'
                        ProductIdent: '10101000'
                        Desc: CHECKING
                        TaxIncentiveType: None
                        TaxIncentiveTypeEnumDesc: No Special Reporting
                        InitialAmount:
                          Amt: 0
                          CurCode:
                            CurCodeType: ISO4217-Alpha
                            CurCodeValue: USD
                        OpenDt: '1987-07-01'
                        LastContactDt: '2021-08-13'
                        DateData:
                          - DateType: LastFileMaint
                            DateValue: '2023-06-14'
                          - DateType: LastPrc
                            DateValue: '2023-06-15'
                          - DateType: LastTrn
                            DateValue: '2023-05-31'
                          - DateType: LastPrcThru
                            DateValue: '2023-06-15'
                          - DateType: OldestHold
                            DateValue: '2018-03-01'
                          - DateType: LastHold
                            DateValue: '2018-03-01'
                        RelationshipMgr:
                          - RelationshipMgrIdent: '0'
                            RelationshipRole: Officer
                          - RelationshipMgrIdent: '0'
                            RelationshipRole: SecondOfficer
                          - RelationshipMgrIdent: '0'
                            RelationshipRole: ReferralOfficer
                        OriginatingBranch: '2'
                        OriginatingBranchEnumDesc: Premier UAT Branch 2
                        ResponsibleBranch: '2'
                        ResponsibleBranchEnumDesc: Premier UAT Branch 2
                        NicknameOption: NotPrinted
                        AcctTitleOption: '0'
                        HandlingCodeOption: UsePortfolio
                        OEDCode: '0'
                        AccountingMethod: Class
                        AccountingValue: '1'
                        ClassCode: '1'
                        AcctTypeCode: '100'
                        AcctOpenMethod: InPerson
                        AcctStmtData:
                          StmtTimeFrame:
                            - RecurType: Cycle
                              RecurInterval: 30
                              AlternateStmtInd: false
                              AlternateStmtOption: None
                          LastStmtDt: '2023-05-31'
                          CombinedStmtIdent: '5041733'
                          CombinedStmtCode: Primary
                          SpecialStmtCode: None
                          StmtFormat: '0'
                          StmtTruncationOption: '3'
                          StmtGroup: '1'
                        NoticeData:
                          - NoticeType: ACHNotice
                            NoticeOption: NoOverride
                          - NoticeType: RegularNotice
                            NoticeOption: GenerateNotice
                          - NoticeType: ChargeBack
                            NoticeOption: '0'
                          - NoticeType: PayeeChanges
                            NoticeOption: GenerateNotice
                          - NoticeType: BalanceOnReceipt
                            NoticeOption: NoOverride
                          - NoticeType: RegCCNotice
                            NoticeOption: NoOverride
                        ProdIntRateId: '1'
                        ProdIntRateIdEnumDesc: REGULAR SAVINGS
                        Rate: 5.5
                        IntRateData:
                          AccrualMethod: Simple
                          BalCutOffData:
                            BalCutOffType: None
                            BalCutOffAmt: 0
                        RateChangeData:
                          - VarianceFactorType: Factor
                        AcctBal:
                          - BalType: AvailCash
                            CurAmt:
                              Amt: 468.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: AvailChk
                            CurAmt:
                              Amt: 468.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Closing
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: ClosingInterest
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: InterestAccrued
                            CurAmt:
                              Amt: 1.29
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Ledger
                            CurAmt:
                              Amt: 568.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: MinLedger
                            CurAmt:
                              Amt: 568.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: OpeningOutstanding
                            CurAmt:
                              Amt: 568.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: OverdraftAtmPos
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: PrevAvailCash
                            CurAmt:
                              Amt: 468.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: PrevInterestAccrued
                            CurAmt:
                              Amt: 1.2
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: PrevAvail
                            CurAmt:
                              Amt: 468.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: PrevAvailChk
                            CurAmt:
                              Amt: 468.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: PrevSvcChg
                            CurAmt:
                              Amt: 3
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: PrevLedger
                            CurAmt:
                              Amt: 568.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: SvcChg
                            CurAmt:
                              Amt: 3
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: BalanceLastStatement
                            CurAmt:
                              Amt: 568.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Avail
                            CurAmt:
                              Amt: 468.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Current
                            CurAmt:
                              Amt: 468.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: MemoLedger
                            CurAmt:
                              Amt: 468.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Memo
                            CurAmt:
                              Amt: 468.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Hold
                            CurAmt:
                              Amt: 100
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Float
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Sweep
                            CurAmt:
                              Amt: 468.71
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: OtherTransfers
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: AvailPending
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: LedgerPending
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                        AcctPeriodData:
                          - AcctAmtType: CashIn
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: CashIn
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: CashOut
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: CashOut
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: FederalWithhold
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: FederalWithhold
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: IntEarned
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 1.29
                          - AcctAmtType: IntEarned
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Amt: 2.66
                          - AcctAmtType: IntEarned
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 14.25
                          - AcctAmtType: IntEarned
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 31.53
                          - AcctAmtType: IntPaid
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: IntPaid
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Amt: 2.83
                          - AcctAmtType: IntPaid
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 31.44
                          - AcctAmtType: IntPaid
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 13.05
                          - AcctAmtType: IntCarryOver
                            AcctPeriodType: CTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: NSFFeePaid
                            AcctPeriodType: PriorCycle
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: NSFFeePaid
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: NSFFeePaid
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: NSFFeeRefunded
                            AcctPeriodType: PriorCycle
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: NSFFeeRefunded
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: NSFFeeRefunded
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: NSFFeeReturned
                            AcctPeriodType: PriorCycle
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: NSFFeeReturned
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: NSFFeeReturned
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: NSFFeeWaived
                            AcctPeriodType: PriorCycle
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: NSFFeeWaived
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: NSFFeeWaived
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OtherChargePaid
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OtherChargePaid
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OtherChargePaid
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OtherChargePaid
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OtherChargeWaived
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OtherChargeWaived
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OtherChargeWaived
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OtherChargeWaived
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OtherMiscFee
                            AcctPeriodType: PriorCycle
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OtherMiscFee
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OtherMiscFee
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OverdraftFee
                            AcctPeriodType: PriorCycle
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OverdraftFee
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: OverdraftFee
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: StateWithhold
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: StateWithhold
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: SvcCharge
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: SvcCharge
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Amt: 3
                          - AcctAmtType: SvcCharge
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 36
                          - AcctAmtType: SvcCharge
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 15
                          - AcctAmtType: SvcChargeWaived
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: SvcChargeWaived
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: SvcChargeWaived
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: SvcChargeWaived
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: AvgAvail
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 568.71
                          - AcctAmtType: AvgAvail
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Amt: 568.87
                          - AcctAmtType: AvgAvail
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 569.73
                          - AcctAmtType: AvgAvail
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 573.09
                          - AcctAmtType: AvgLedger
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 568.71
                          - AcctAmtType: AvgLedger
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Amt: 568.87
                          - AcctAmtType: AvgLedger
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 569.73
                          - AcctAmtType: AvgLedger
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 573.09
                          - AcctAmtType: PostedTotal
                            AcctPeriodType: PriorDay
                            LastOccurInd: true
                            Amt: 0
                          - AcctAmtType: Contribution
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: Contribution
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: Distribution
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: Distribution
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: ChkCredit
                            AcctPeriodType: PriorCycle
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: ChkDebit
                            AcctPeriodType: PriorCycle
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: DaysAvailOverdraft
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: DaysAvailOverdraft
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: DaysNSF
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: DaysNSF
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: DaysNSF
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: DaysNSF
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: DaysOverdraft
                            AcctPeriodType: ThisCycle
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: DaysOverdraft
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: DaysOverdraft
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFPresented
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFPresented
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFPresented
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFPresented
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFReturned
                            AcctPeriodType: PriorCycle
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFReturned
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFReturned
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFReturned
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFReturned
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: Overdraft
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: Overdraft
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: SvcCharge
                            AmtSeqId: '1'
                            AcctPeriodType: CTD
                            InPeriod:
                              Count: 15
                              Units: Days
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: SvcCharge
                            AmtSeqId: '2'
                            AcctPeriodType: CTD
                            InPeriod:
                              Count: 15
                              Units: Days
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: SvcCharge
                            AmtSeqId: '3'
                            AcctPeriodType: CTD
                            InPeriod:
                              Count: 15
                              Units: Days
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: SvcCharge
                            AmtSeqId: '4'
                            AcctPeriodType: CTD
                            InPeriod:
                              Count: 15
                              Units: Days
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: SvcCharge
                            AmtSeqId: '5'
                            AcctPeriodType: CTD
                            InPeriod:
                              Count: 15
                              Units: Days
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: SvcCharge
                            AmtSeqId: '6'
                            AcctPeriodType: CTD
                            InPeriod:
                              Count: 15
                              Units: Days
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: SvcCharge
                            AmtSeqId: '7'
                            AcctPeriodType: CTD
                            InPeriod:
                              Count: 15
                              Units: Days
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: SvcCharge
                            AmtSeqId: '8'
                            AcctPeriodType: CTD
                            InPeriod:
                              Count: 15
                              Units: Days
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: SvcCharge
                            AmtSeqId: '9'
                            AcctPeriodType: CTD
                            InPeriod:
                              Count: 15
                              Units: Days
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFPresented
                            AcctPeriodType: LTD
                            LastOccurInd: true
                            Count: 0
                            LastOccuranceDt: '2020-11-10T00:04:41.440'
                          - AcctAmtType: Overdraft
                            AcctPeriodType: LTD
                            LastOccurInd: true
                          - AcctAmtType: NSFPaid
                            AcctPeriodType: PriorCycle
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFPaid
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFPaid
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFPaid
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: NSFPaid
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Count: 0
                          - AcctAmtType: ChkDebit
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Amt: 0
                            Count: 0
                          - AcctAmtType: ChkDebit
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 0
                            Count: 0
                          - AcctAmtType: Credit
                            AcctPeriodType: CTD
                            LastOccurInd: false
                            Amt: 2.83
                            Count: 1
                          - AcctAmtType: Debit
                            AcctPeriodType: PriorCycle
                            LastOccurInd: false
                            Amt: 3.01
                            Count: 2
                          - AcctAmtType: Deposit
                            AcctPeriodType: MTD
                            LastOccurInd: false
                            Amt: 0
                            Count: 0
                          - AcctAmtType: Deposit
                            AcctPeriodType: PriorMonth
                            LastOccurInd: false
                            Amt: 0
                            Count: 0
                          - AcctAmtType: ChkDebit
                            AcctPeriodType: LTD
                            LastOccurInd: true
                            Amt: 0.01
                            LastOccuranceDt: '2023-05-02T00:04:50.470'
                          - AcctAmtType: Deposit
                            AcctPeriodType: LTD
                            LastOccurInd: true
                            Amt: 300
                            LastOccuranceDt: '2021-08-12T00:04:44.190'
                          - AcctAmtType: HSA
                            AcctPeriodType: PriorCycle
                            LastOccurInd: true
                            Amt: 0
                          - AcctAmtType: IntPaid
                            AcctPeriodType: LTD
                            LastOccurInd: true
                            Amt: 2.83
                            LastOccuranceDt: '2023-05-31T00:04:50.760'
                          - AcctAmtType: MinLedger
                            AcctPeriodType: MTD
                            LastOccurInd: true
                            Amt: 568.71
                            LastOccuranceDt: '2023-06-01T00:04:50.770'
                          - AcctAmtType: MinLedger
                            AcctPeriodType: PriorMonth
                            LastOccurInd: true
                            Amt: 568.71
                            LastOccuranceDt: '2023-05-31T00:04:50.760'
                          - AcctAmtType: Statement
                            AcctPeriodType: PrevToPriorCycle
                            LastOccurInd: false
                            Amt: 568.89
                            LastOccuranceDt: '2023-04-28T00:04:50.430'
                          - AcctAmtType: Statement
                            AcctPeriodType: CTD
                            LastOccurInd: false
                            Amt: 568.71
                            Rate: 5.5
                            LastOccuranceDt: '2023-05-31T00:04:50.760'
                          - AcctAmtType: Statement
                            AcctPeriodType: PriorCycle
                            LastOccurInd: true
                            Amt: 568.71
                            Rate: 5.5
                            LastOccuranceDt: '2023-05-31T00:04:50.760'
                          - AcctAmtType: IntEarned
                            AcctPeriodType: CTD
                            InPeriod:
                              Count: 15
                              Units: Days
                            LastOccurInd: false
                        PostAddr:
                          - NameIdent:
                              - '3252027'
                            AddressIdent: '2046053'
                            AddrUse: Inquiry
                            AddrFormatType: Label
                            FullName1: JOSEPH N HOWARD
                            Addr1: 141 SECOND ST.
                            City: WACO
                            StateProv: AL
                            PostalCode: '68510'
                            CountryCode:
                              CountryCodeSource: SPCountryCode
                              CountryCodeValue: ' '
                            AddrType: Primary
                            CensusTract: '0'
                            CensusBlock: '0'
                            ForeignFlag: false
                            HandlingCodeOption: StatementsNoticesChecks
                            MSACode: 0
                        TaxIdentType: SSN
                        TaxIdent: '988125678'
                        WithholdingOption: None
                        WithholdingOptionEnumDesc: None
                        IntReportingInd: true
                        Fee:
                          - FeeType: ATMFee
                            FeeOption: Charge
                          - FeePlan: '0'
                            FeeType: BillPmt
                          - FeePlan: '0'
                            FeeType: DormantFee
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                            TimeFrame:
                              RecurRule:
                                - RecurType: Cycle
                                  RecurInterval: 0
                          - FeeType: EIM
                            FeeOption: Charge
                          - FeeType: FDIC
                            FeeWaiver:
                              WaiverCode: '0'
                          - FeeType: FeeCharge
                            FeeOption: Charge
                          - FeeType: Other
                            FeeOption: Charge
                          - FeeType: OtherNonTax
                            FeeOption: Charge
                          - FeeType: OverdraftInt
                            FeeWaiver:
                              WaiverCode: '0'
                          - FeeType: OverdraftFee
                            FeeWaiver:
                              WaiverCode: '0'
                          - FeeType: NSFFee
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - FeeIdent: '0'
                            FeePlan: '0'
                            FeeType: Recurring
                            CurAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                            TimeFrame:
                              RecurRule:
                                - RecurType: Cycle
                                  RecurInterval: 0
                        CreditRisk:
                          - RiskCategory: RiskScore1
                            InternalScore: '0'
                          - RiskCategory: RiskScore2
                            InternalScore: '0'
                        RiskRanking: '0'
                        TrnRestriction: '0'
                        TrnRestrictionOvrd: '0'
                        MemoPostProcessOptOvrd: None
                        ElectronicBankingOpt: Enable
                        ReportGroupCode: '0'
                        DocDistributionOption: '10'
                        NAICS: '0'
                        CostCenter: '0'
                        RetentionOption: None
                        RestrictedInd: false
                        AcctMemoData:
                          - AcctMemoIdent: '1'
                            AcctMemoType: Teller
                            AcctMemoText: '0'
                          - AcctMemoIdent: '2'
                            AcctMemoType: Teller
                            AcctMemoText: '0'
                          - AcctMemoIdent: '3'
                            AcctMemoType: Teller
                            AcctMemoText: '0'
                        IntDispData:
                          IntDisposition: Capitalize
                          IntPmtFrequency:
                            - RecurType: Cycle
                              RecurInterval: 30
                        OverdraftData:
                          OverdraftEnrollOpt: NoODPAccount
                          OverdraftAutoTrnInd: false
                          OverdraftLimitPriority: AferXfer
                          OverdraftLimitAmt:
                            Amt: 0
                          OverdraftRatingCode: '0'
                          OverdraftTypeCode: '0'
                          OverdraftNotificationOpt: NoNotice
                          ContactType: '0'
                          AtmPosOverdraft:
                            AuthLimitOption: OptOut
                            AuthLimitOptionEnumDesc: Customer opted out reply
                            AuthLimitAmt:
                              Amt: 0
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                            NoticeOption: NoNotice
                        FloatData:
                          - FloatType: RegCC
                            FloatDetails:
                              - CashFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - FloatDays: 1
                                CheckFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - CashFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - FloatDays: 2
                                CheckFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - CashFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - FloatDays: 3
                                CheckFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - CashFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - FloatDays: 4
                                CheckFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - CashFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - FloatDays: 5
                                CheckFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - CashFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - FloatDays: 6
                                CheckFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - CashFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - FloatDays: 7
                                CheckFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - CashFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - FloatDays: 8
                                CheckFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - CashFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - FloatDays: 9
                                CheckFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - CashFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - FloatDays: 10
                                CheckFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - CashFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - FloatDays: 11
                                CheckFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - CashFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          - FloatType: RegCC
                            FloatDetails:
                              - FloatDays: 12
                                CheckFloatAmt:
                                  Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                        SvcChgData:
                          SvcChgMethod:
                            - SvcChgMethodType: Activity
                              SvcChgMethodOpt: 0
                            - SvcChgMethodType: Maintenance
                              SvcChgMethodOpt: 1
                          CreditBackMethod: '0'
                          CreditBackAcct:
                            - CreditBackIdent: '0'
                              CreditBackAcctId: '0'
                          CreditBackGroupIdent: '1'
                          SvcChgFlatFee:
                            - SvcChgFlatFeeType: ActivityItem
                              SvcChgFlatFeeIdent:
                                - '1'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: ActivityItem
                              SvcChgFlatFeeIdent:
                                - '2'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: ActivityItem
                              SvcChgFlatFeeIdent:
                                - '3'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: ActivityItem
                              SvcChgFlatFeeIdent:
                                - '4'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: ActivityItem
                              SvcChgFlatFeeIdent:
                                - '5'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: ActivityItem
                              SvcChgFlatFeeIdent:
                                - '6'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: ActivityItem
                              SvcChgFlatFeeIdent:
                                - '7'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: ActivityItem
                              SvcChgFlatFeeIdent:
                                - '8'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: ActivityItem
                              SvcChgFlatFeeIdent:
                                - '9'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: DepositItem
                              SvcChgFlatFeeIdent:
                                - '10'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: DepositItem
                              SvcChgFlatFeeIdent:
                                - '11'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: DepositItem
                              SvcChgFlatFeeIdent:
                                - '12'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: DepositItem
                              SvcChgFlatFeeIdent:
                                - '13'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: DepositItem
                              SvcChgFlatFeeIdent:
                                - '14'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: DepositItem
                              SvcChgFlatFeeIdent:
                                - '15'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: DepositItem
                              SvcChgFlatFeeIdent:
                                - '16'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: DepositItem
                              SvcChgFlatFeeIdent:
                                - '17'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                            - SvcChgFlatFeeType: DepositItem
                              SvcChgFlatFeeIdent:
                                - '18'
                              SvcChgFlatFeeAmt:
                                - Amt: 0
                                  CurCode:
                                    CurCodeType: ISO4217-Alpha
                                    CurCodeValue: USD
                          SvcChgWaiveCode: 0
                          SvcChgWaiveTaxInd: false
                          LastSvcChgDt: '2023-05-31'
                          SvcChgTimeFrame:
                            - RecurType: Cycle
                              RecurInterval: 30
                        CommercialAnalysisData:
                          AnalysisCode: '0'
                          AnalysisGroup: 0
                          AnalysisChargeAcct:
                            AcctKeys:
                              AcctId: '0'
                              AcctType: DDA
                        RegCCData:
                          RegCCStatus: NormalAuto
                          RegCCException: '0'
                          RegCC_NSF:
                            - NSFIdent: '1'
                              RegCC_NSFType: RegularItems
                              Count: 0
                            - NSFIdent: '1'
                              RegCC_NSFType: LargeItems
                              Count: 0
                            - NSFIdent: '2'
                              RegCC_NSFType: RegularItems
                              Count: 0
                            - NSFIdent: '2'
                              RegCC_NSFType: LargeItems
                              Count: 0
                            - NSFIdent: '3'
                              RegCC_NSFType: RegularItems
                              Count: 0
                            - NSFIdent: '3'
                              RegCC_NSFType: LargeItems
                              Count: 0
                            - NSFIdent: '4'
                              RegCC_NSFType: RegularItems
                              Count: 0
                            - NSFIdent: '4'
                              RegCC_NSFType: LargeItems
                              Count: 0
                            - NSFIdent: '5'
                              RegCC_NSFType: RegularItems
                              Count: 0
                            - NSFIdent: '5'
                              RegCC_NSFType: LargeItems
                              Count: 0
                            - NSFIdent: '6'
                              RegCC_NSFType: RegularItems
                              Count: 0
                            - NSFIdent: '6'
                              RegCC_NSFType: LargeItems
                              Count: 0
                        CollateralPledgeCode: '0'
                        EIM_NSFInstruction: Specification
                        AutoNSFDecision: '0'
                        NSFEntry:
                          - NSFIdent: '1'
                            Count: 0
                          - NSFIdent: '2'
                            Count: 0
                          - NSFIdent: '3'
                            Count: 0
                          - NSFIdent: '4'
                            Count: 0
                          - NSFIdent: '5'
                            Count: 0
                          - NSFIdent: '6'
                            Count: 0
                        HoldInd: true
                        StopInd: true
                      AcctStatus:
                        AcctStatusCode: Valid
                        EffDt: '2023-06-16T19:36:27.422'
                DDL:
                  value:
                    Status:
                      StatusCode: '0'
                      StatusDesc: Success
                      Severity: Info
                      SvcProviderName: Premier
                    AcctRec:
                      AcctKeys:
                        AcctId: '1082862126'
                        AcctType: DDL
                      LoanAcctInfo:
                        AcctDtlStatus: Active
                        AcctDtlStatusEnumDesc: Active
                        AcctIdent:
                          - AcctIdentType: PORT
                            AcctIdentValue: '82786'
                        ProductIdent: '10102000'
                        Desc: BASIC CHECKING
                        OpenDt: '2023-05-11'
                        DateData:
                          - DateType: LastTrn
                            DateValue: '2023-09-29'
                          - DateType: Accrual
                            DateValue: '2023-10-24'
                          - DateType: LastFileMaint
                            DateValue: '2023-07-28'
                          - DateType: LastPrc
                            DateValue: '2023-10-24'
                        RelationshipMgr:
                          - RelationshipMgrIdent: '0'
                            RelationshipRole: Officer
                          - RelationshipMgrIdent: '0'
                            RelationshipRole: SecondOfficer
                        OriginatingBranch: '2'
                        OriginatingBranchEnumDesc: Premier UAT Branch 2
                        ResponsibleBranch: '2'
                        ResponsibleBranchEnumDesc: Premier UAT Branch 2
                        OEDCode: '0'
                        AccountingMethod: Class
                        AccountingValue: '2'
                        ClassCode: '2'
                        ClassCodeEnumDesc: OVERDRAFT PROTECTION
                        AcctOpenMethod: InPerson
                        AcctStmtData:
                          LastStmtDt: '2023-09-29'
                        NoticeData:
                          - NoticeType: RegularNotice
                            NoticeOption: GenerateNotice
                        ProdIntRateId: '0'
                        Rate: 8.75
                        IntRateData:
                          DailyAccrualFactor: 0.4892
                          SplitRateData:
                            SplitAmt: 0
                            OverRate: 8.75
                            UnderRate: 0
                        RateChangeData:
                          - RateVariance: 0
                            FloorRate: 0
                            CeilingRate: 0
                        AcctBal:
                          - BalType: CreditLimit
                            CurAmt:
                              Amt: 5000
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: Principal
                            CurAmt:
                              Amt: 2040.7
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: AvailCredit
                            CurAmt:
                              Amt: 2959.3
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: PastDue
                            CurAmt:
                              Amt: 294.57
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                          - BalType: InterestDue
                            CurAmt:
                              Amt: 41.55
                              CurCode:
                                CurCodeType: ISO4217-Alpha
                                CurCodeValue: USD
                        AcctPeriodData:
                          - AcctAmtType: IntPaid
                            AcctPeriodType: CTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: IntPaid
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 1.96
                          - AcctAmtType: IntPaid
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: AdvAmt
                            AcctPeriodType: LTD
                            LastOccurInd: true
                            Amt: 2100
                            LastOccuranceDt: '2023-07-28'
                          - AcctAmtType: AdvAmt
                            AcctPeriodType: CTD
                            LastOccurInd: false
                            Amt: 0
                            Count: 0
                          - AcctAmtType: AdvAmt
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 2100
                            Count: 1
                          - AcctAmtType: AdvAmt
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                            Count: 0
                          - AcctAmtType: LoanPmt
                            AcctPeriodType: CTD
                            LastOccurInd: false
                            Amt: 0
                            Count: 0
                          - AcctAmtType: LoanPmt
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 61.26
                            Count: 2
                          - AcctAmtType: LoanPmt
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                            Count: 0
                          - AcctAmtType: LoanPmt
                            AcctPeriodType: LTD
                            LastOccurInd: true
                            Amt: 5.43
                            LastOccuranceDt: '2023-07-31'
                          - AcctAmtType: IntAccrued
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 43.51
                          - AcctAmtType: IntAccrued
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: FeeAssessed
                            AcctPeriodType: CTD
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: FeeAssessed
                            AcctPeriodType: PriorYr
                            LastOccurInd: false
                            Amt: 0
                          - AcctAmtType: FeeAssessed
                            AcctPeriodType: YTD
                            LastOccurInd: false
                            Amt: 0
                        PostAddr:
                          - NameIdent:
                              - '3151063'
                            AddressIdent: '2046801'
                            AddrUse: Mailing
                            AddrFormatType: Label
                            FullName1: AMPED UP
                            Addr1: 2160 PEACH
                            City: WILBER
                            StateProv: OH
                            PostalCode: 68506-0000
                            CountryCode:
                              CountryCodeSource: SPCountryCode
                              CountryCodeValue: ' '
                            AddrType: Secondary
                            CensusTract: '0.00'
                            CensusBlock: '0'
                            ForeignFlag: false
                            HandlingCodeOption: StatementsNoticesChecks
                            MSACode: 0
                        CreditRisk:
                          - RiskCategory: RiskScore1
                            InternalScore: '0'
                          - RiskCategory: RiskScore2
                            InternalScore: '0'
                          - RiskCategory: CreditScore
                            InternalScore: '0'
                          - RiskCategory: RatingCode1
                            InternalScore: '0'
                        RiskRanking: '0'
                        ElectronicBankingOpt: Enable
                        RestrictedInd: false
                        AcctMemoData:
                          - AcctMemoIdent: '1'
                            AcctMemoType: Teller
                            AcctMemoCode: '0'
                          - AcctMemoIdent: '2'
                            AcctMemoType: Teller
                            AcctMemoCode: '0'
                          - AcctMemoIdent: '3'
                            AcctMemoType: Teller
                            AcctMemoCode: '0'
                        ReportPurposeCode: '2'
                        CollateralCode: '0'
                        LoanBilling:
                          LOCPaymentMethod: Automatic
                        DuePmt:
                          PmtCompositeAmt:
                            - CompositeCurAmtType: Total
                              CurAmt:
                                Amt: 100
                                CurCode:
                                  CurCodeType: ISO4217-Alpha
                                  CurCodeValue: USD
                          DueDt: '2023-10-13'
                        LastPmt:
                          PmtCompositeAmt:
                            - CompositeCurAmtType: LastPmt
                              CurAmt:
                                Amt: 5.43
                                CurCode:
                                  CurCodeType: ISO4217-Alpha
                                  CurCodeValue: USD
                          PmtDt: '2023-07-31'
                        LOCAdvance:
                          AdvanceCode: Automatic
                          OrigLimitAmt:
                            Amt: 5000
                            CurCode:
                              CurCodeType: ISO4217-Alpha
                              CurCodeValue: USD
                          LimitAmt:
                            Amt: 5000
                            CurCode:
                              CurCodeType: ISO4217-Alpha
                              CurCodeValue: USD
                          WaiveAdvanceFeeInd: false
                      AcctStatus:
                        AcctStatusCode: Valid
                        EffDt: '2023-10-25T11:24:45.828'
                LOAN:
                  value:
                    Status:
                      StatusCode: '0'
                      StatusDesc: Success
                      Severity: Info
                      SvcProviderName: Premier
                    AcctRec:
                      AcctKeys:
                        AcctId: '1082109881'
                        AcctType: LOAN
                      LoanAcctInfo:
                        Naics: '0'
                        AcctDtlStatus: Active
                        AcctDtlStatusEnumDesc: ACTIVE
                        IsActiveInd: true
                        AcctPref:
                          Language: UsePortfolio
                        AcctIdent:
                          - AcctIdentType: PORT
                            AcctIdentValue: '82117'
                        ProductIdent: '10449000'
                        InitialAmount:
                          Amt: 10035
                          CurCode:
                            CurCodeType: ISO4217-Alpha
                            CurCodeValue: USD
                        OpenDt: '2018-09-26'
                        MaturityDt: '2023-10-10'
                        DateData:
                          - DateType: LastTrn
                            DateValue: '2023-05-25'
                          - DateType: Accrual
                            DateValue: '2023-06-15'
                          - DateType: LastFileMaint
                            DateValue: '2021-06-04'
                          - DateType: LastPrcThru
                            DateValue: '2023-06-15'
                          - DateType: LastZeroBal
                            DateValue: '2018-09-26'
                          - DateType: Contract
                            DateValue: '2018-09-26'
                        RelationshipMgr:
                          - RelationshipMgrIdent: '1111'
                            RelationshipRole: Officer
                          - RelationshipMgrIdent: '0'
                            RelationshipRole: SecondOfficer
                          - RelationshipMgrIdent: '0'
                            RelationshipRole: ReferralOfficer
                        OriginatingBranch: '1'
                        OriginatingBranchEnumDesc: Premier UAT Branch 1
                        ResponsibleBranch: '1'
                        ResponsibleBranchEnumDesc: PRIVATE BANKING
                        NicknameOption: NotPrinted
                        AcctTitleOption: NotPrinted
                        HandlingCodeOption: UsePortfolio
                        OEDCode: '0'
                        AccountingMethod: Class
                        AccountingValue: '49'
                        ClassCode: '49'
                        AcctTypeCode: '670'
                        AcctOpenMethod: InPerson
                        ClientDefinedData:
                          - DataIdent: '11'
                            DataType: Alpha
                            Value: BMW
                            DataLength: 3
                            Desc: BMW
                            RequiredFlag: false
                        AcctStmtData:
                          StmtTimeFrame:
                            - RecurType: Monthly
[...]
