---
openapi: 3.0.1
info:
  title: Transfer Service
  description: The Transfer service supports operations related to managing the transfer of money between accounts. The service includes the description of the FROM and TO accounts, amount of the transfer, transfer fees and frequency of the transfer as it can be a one-time transfer or a recurring transfer.
  version: 11.0.0_PRM
servers:
  - url: https://bankinghub-cert-fiservapis.azure-api.net/transfer-service
paths:
  /banking/efx/v1/xferservice/payments/transfers:
    put:
      tags:
        - Transfer Service
      summary: Update Transfer
      description: Update Transfer API modifies the information on an existing scheduled transfer (one time or recurring)
      operationId: XferModOper
      security:
        - OAuth2ClientCredentials: []
      parameters:
        - name: EFXHeader
          in: header
          schema:
            type: string
          example: '{"OrganizationId":"999990300","TrnId":"123"}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XferModOperRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XferModOperResponse'
        default:
          description: Default Response for the Update Transfer request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XferModOperResponse'
      x-default-example: Premier
      x-group-name: Transfer Service
      x-proxy-name: Update Transfer
      x-child-product-name: Transfers
      x-core: Premier
    post:
      tags:
        - Transfer Service
      summary: Add Transfer
      description: Add Transfer API creates the request for an automatic transfer of funds between two accounts. <br> For Premier, this API supports future dated transfers on the core and includes the FROM and TO accounts, descriptions and the frequency of the transfer which can be a one-time transfer or a recurring transfer
      operationId: XferAddOper
      security:
        - OAuth2ClientCredentials: []
      parameters:
        - name: EFXHeader
          in: header
          schema:
            type: string
          example: '{"OrganizationId":"999990300","TrnId":"123"}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XferAddOperRequest'
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XferAddOperResponse'
        default:
          description: Default Response for the Add Transfer request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XferAddOperResponse'
      x-default-example: Premier
      x-group-name: Transfer Service
      x-proxy-name: Add Transfer
      x-child-product-name: Transfers
      x-core: Premier
  /banking/efx/v1/xferservice/payments/transfers/secured:
    put:
      tags:
        - Transfer Service
      summary: Delete Transfer
      description: Delete Transfer API deletes the existing scheduled (one time or recurring) transfer of funds from the core
      operationId: SecuredXferDelOper
      security:
        - OAuth2ClientCredentials: []
      parameters:
        - name: EFXHeader
          in: header
          schema:
            type: string
          example: '{"OrganizationId":"999990300","TrnId":"123"}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecuredXferDelOperRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuredXferDelOperResponse'
        default:
          description: Default Response for the Delete Transfer request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuredXferDelOperResponse'
      x-default-example: Premier
      x-group-name: Transfer Service
      x-proxy-name: Delete Transfer
      x-child-product-name: Transfers
      x-core: Premier
    post:
      tags:
        - Transfer Service
      summary: Get Transfer
      description: Get Transfer API retrieves the information about one specific scheduled transfer (one time or recurring) from the core, based on the unique transfer identifier sent in the request.
      operationId: SecuredXferInqOper
      security:
        - OAuth2ClientCredentials: []
      parameters:
        - name: EFXHeader
          in: header
          schema:
            type: string
          example: '{"OrganizationId":"999990300","TrnId":"123"}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SecuredXferInqOperRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuredXferInqOperResponse'
        default:
          description: Default Response for the Get Transfer request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SecuredXferInqOperResponse'
      x-default-example: Premier
      x-group-name: Transfer Service
      x-proxy-name: Get Transfer
      x-child-product-name: Transfers
      x-core: Premier
  /banking/efx/v1/xferservice/payments/transferlist/secured:
    post:
      tags:
        - Transfer Service
      summary: Get Transfer List
      description: Get Transfer List API retrieves a list of scheduled transfers (one time or recurring) from the core.
      operationId: XferListInq
      security:
        - OAuth2ClientCredentials: []
      parameters:
        - name: EFXHeader
          in: header
          schema:
            type: string
          example: '{"OrganizationId":"999990300","TrnId":"123"}'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/XferListInqRequest'
      responses:
        '200':
          description: Success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XferListInqResponse'
        default:
          description: Default Response for the Get Transfer List request.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/XferListInqResponse'
      x-default-example: Premier
      x-group-name: Transfer Service
      x-proxy-name: Get Transfer List
      x-child-product-name: Transfers
      x-core: Premier
components:
  securitySchemes:
    OAuth2ClientCredentials:
      type: oauth2
      flows:
        clientCredentials:
          tokenUrl: https://bankinghub-cert-fiservapis.azure-api.net/transfer-service/fts-apim/oauth2/v2
          scopes:
            type: string
            example: ok
  schemas:
    XferAddOperRequest:
      type: object
      required:
        - XferInfo
      properties:
        OvrdAutoAckInd:
          type: boolean
          example: true
          description: |-
            Value to indicate that the system should auto-acknowledge the exceptions. If this value is set to "true", then the exceptions that cannot be overridden are returned in the Status aggregate of the response message.
        XferInfo:
          $ref: '#/components/schemas/XferAddOperRequest_XferInfo'
    XferAddOperResponse:
      required:
        - XferStatusRec
      properties:
        Status:
          $ref: '#/components/schemas/StatusType'
        XferStatusRec:
          $ref: '#/components/schemas/XferAddOperResponse_XferStatusRec'
      example:
        Status:
          StatusCode: '0'
          StatusDesc: Success
          Severity: Info
          SvcProviderName: Premier
        XferStatusRec:
          XferKeys:
            XferId: '251'
          XferStatus:
            XferStatusCode: Valid
            EffDt: '2023-10-30T11:47:57.181'
    SecuredXferDelOperRequest:
      type: object
      required:
        - XferKeys
      properties:
        XferKeys:
          $ref: '#/components/schemas/SecuredXferDelOperRequest_XferKeys'
    SecuredXferDelOperResponse:
      required:
        - XferStatusRec
      properties:
        Status:
          $ref: '#/components/schemas/StatusType'
        XferStatusRec:
          $ref: '#/components/schemas/SecuredXferDelOperResponse_XferStatusRec'
      example:
        Status:
          StatusCode: '0'
          StatusDesc: Success
          Severity: Info
          SvcProviderName: Premier
        XferStatusRec:
          XferKeys:
            AcctKeys:
              AcctId: '1082601164'
              AcctType: DDA
            XferIdent: '251'
          XferStatus:
            XferStatusCode: Valid
            EffDt: '2023-10-30T11:58:58.060'
    SecuredXferInqOperRequest:
      type: object
      required:
        - XferSel
      properties:
        XferSel:
          $ref: '#/components/schemas/SecuredXferInqOperRequest_XferSel'
    SecuredXferInqOperResponse:
      required:
        - XferRec
      properties:
        Status:
          $ref: '#/components/schemas/StatusType'
        XferRec:
          type: array
          description: Details of the transfer record returned in the response for the specified search criteria.
          items:
            $ref: '#/components/schemas/SecuredXferInqOperResponse_XferRec'
      example:
        Status:
          StatusCode: '0'
          StatusDesc: Success
          Severity: Info
          SvcProviderName: Premier
        XferRec:
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '251'
            XferInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
                  AcctIdent:
                    - AcctIdentType: AcctTypeCode
                      AcctIdentValue: '0'
                  FIIdentType:
                    - RoutingNum
                  FIIdent:
                    - '0'
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
                    RecurStartDate: '2023-11-29'
                    RecurEndDate: '2053-10-30'
              RelationshipMgr:
                - RelationshipMgrIdent: '201'
                  RelationshipRole: Officer
              ReportGroupCode: '1'
              ExtendedXferData:
                ACHEntryClass: PPD
                NoticeData:
                  - NoticeType: ACHNotice
                    NoticeOption: NoNotice
                ForcePostInd: false
                FeeIdent: '0'
              RefData:
                - RefType: TranCode
                  RefIdent: '801'
                - RefType: PayeeDesc
                  RefIdent: '0'
                - RefType: XferDesc
                  RefDesc: MAX
              LastXferAmt:
                Amt: 0
              RemainingOccurrences: 0
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T11:49:15.739Z'
    XferListInqRequest:
      type: object
      required:
        - XferListSel
      properties:
        XferListSel:
          $ref: '#/components/schemas/XferListInqRequest_XferListSel'
    XferListInqResponse:
      required:
        - XferListRec
      properties:
        Status:
          $ref: '#/components/schemas/StatusType'
        RecCtrlOut:
          $ref: '#/components/schemas/XferListInqResponse_RecCtrlOut'
        XferListRec:
          type: array
          description: Details of the transfer list record returned in the response for the specified search criteria.
          items:
            $ref: '#/components/schemas/XferListInqResponse_XferListRec'
      example:
        Status:
          StatusCode: '0'
          StatusDesc: Success
          Severity: Info
          SvcProviderName: Premier
        RecCtrlOut:
          SentRecCount: 234
        XferListRec:
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '2'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '101100'
                  AcctType: DDA
              CurAmt:
                Amt: 200
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-09-30'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.242'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '3'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '101100'
                  AcctType: DDA
              CurAmt:
                Amt: 200
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-09-30'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.338'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '4'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.338'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '5'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.339'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '6'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.339'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '7'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.339'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '8'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.340'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '9'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.340'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '10'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.341'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '11'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.341'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '12'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.341'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '13'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.342'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '14'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '302034131'
                  AcctType: SDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.342'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '15'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '302034131'
                  AcctType: SDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.342'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '16'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.342'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '17'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.343'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '18'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.343'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '19'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.343'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '20'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.344'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '21'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.344'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '22'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.344'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '23'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.345'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '24'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.345'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '25'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.345'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '26'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.345'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '27'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.346'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '28'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.346'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '29'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.346'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '30'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.346'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '31'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.347'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '32'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.347'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '33'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.347'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '34'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.347'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '35'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.347'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '36'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.348'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '37'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.348'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '38'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.348'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '41'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.349'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '42'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.349'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '43'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.349'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '44'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.350'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '45'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.350'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '47'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.350'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '48'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.350'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '49'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-30'
              EndDt: '2026-06-25'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.351'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '50'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '302034131'
                  AcctType: SDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.352'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '51'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.352'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '52'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.352'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '53'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.352'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '54'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.353'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '55'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.353'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '56'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.353'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '57'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.353'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '58'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.354'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '59'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.354'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '60'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.354'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '61'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.354'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '62'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: '12345'
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.355'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '63'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: '12345'
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.355'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '64'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: '12345'
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.355'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '65'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.356'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '66'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: '12345'
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.356'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '67'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: '12345'
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.356'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '68'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: '12345'
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.356'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '69'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: '12345'
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.357'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '70'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.357'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '71'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.357'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '72'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.357'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '73'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.358'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '74'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.358'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '75'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-02'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Cycle
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.358'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '76'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.358'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '77'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.358'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '78'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.359'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '79'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.359'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '80'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.359'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '81'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.359'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '82'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.360'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '83'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.360'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '84'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.360'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '85'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.360'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '86'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.361'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '87'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.361'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '88'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.361'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '89'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.362'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '90'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.362'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '91'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.362'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '92'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.362'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '93'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-28'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.362'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '94'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.363'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '95'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 0
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              EndDt: '2023-10-30'
              RecurModel:
                RecurRule:
                  - RecurType: Once
              XferAmtCode: Fixed
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.363'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '100'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '1082073267'
                  AcctType: DDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-30'
              EndDt: '2026-06-25'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
              XferStatusCode: Valid
              EffDt: '2023-10-30T12:01:54.363'
          - XferKeys:
              AcctKeys:
                AcctId: '1082601164'
                AcctType: DDA
              XferIdent: '101'
            XferListInfo:
              FromAcctRef:
                AcctKeys:
                  AcctId: '1082601164'
                  AcctType: DDA
              ToAcctRef:
                AcctKeys:
                  AcctId: '302034131'
                  AcctType: SDA
              CurAmt:
                Amt: 1
                CurCode:
                  CurCodeType: ISO4217-Alpha
                  CurCodeValue: USD
              StartDt: '2023-10-14'
              EndDt: '2024-12-15'
              RecurModel:
                RecurRule:
                  - RecurType: Weekly
                    RecurInterval: 2
              XferAmtCode: Fixed
              Nickname: MAX
              XferStatusType: Active
            XferStatus:
[...]
