openapi: 3.0.0
info:
  title: Accounts
  description: Accounts Domain. All times will be in UTC standards.
  version: 3.3.0-Oct-25
servers:
  - url: https://card.api.fiservapps.com/cs/accounts
    description: Production url
  - url: https://card-sandbox.api.fiservapps.com/cs/accounts
    description: Sandbox url
security:
  - BearerAuth: []
tags:
  - name: Add
    description: Add new account
  - name: Authorization
    description: Create, cancel authorization
  - name: Batch Processing
    description: Submit batch adjustments
  - name: Details
    description: Get the details of the account
  - name: Limits
    description:
      Update the credit limit, cash limit, or the temporary credit limit
      based on account number.
  - name: Statements
    description: Search for Account statements.
  - name: Transactions
    description: Search for Account transactions.
paths:
  /v1/accounts/create:
    post:
      tags:
        - Add
      description: 'Add a new account'
      operationId: addNewAccount
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '12345678'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AddNewAccountRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AddNewAccountResponse'
        '400':
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '401':
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '404':
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '405':
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '406':
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '415':
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '422':
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo:
                        There was a problem handling your request. Please
                        try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
      deprecated: false
      x-child-product-name: Accounts
      x-proxy-name: Add new account v1
      x-group-name: Add
  /v1/accounts/balanceTransfer:
    post:
      tags:
        - Authorization
      description: 'Initiate balance transfer from one account to another'
      operationId: balanceTransfer
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '12345678'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BalanceTransferRequest'
        required: true
      responses:
        '204':
          description: No Content
        '400':
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '401':
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '404':
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '405':
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '406':
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '415':
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '422':
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo:
                        There was a problem handling your request. Please
                        try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
      deprecated: false
      x-child-product-name: Accounts
      x-proxy-name: Balance transfer v1
      x-group-name: Authorization
  /v1/accounts/chargeOff:
    put:
      tags:
        - Batch Processing
      description: 'Submit a new charge-off to the account.Applies for credit only'
      operationId: submitChargeOff
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '12345678'
      requestBody:
        description: chargeOffRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChargeOffRequest'
        required: true
      responses:
        '204':
          description: ChargeOff submitted
        '400':
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                ChargeOffRequest400:
                  $ref: '#/components/examples/ChargeOffRequest400'
        '401':
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                ChargeOffRequest401:
                  $ref: '#/components/examples/ChargeOffRequest401'
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                ChargeOffRequest403:
                  $ref: '#/components/examples/ChargeOffRequest403'
        '404':
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                ChargeOffRequest404:
                  $ref: '#/components/examples/ChargeOffRequest404'
        '405':
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                ChargeOffRequest405:
                  $ref: '#/components/examples/ChargeOffRequest405'
        '406':
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                ChargeOffRequest406:
                  $ref: '#/components/examples/ChargeOffRequest406'
        '415':
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                ChargeOffRequest415:
                  $ref: '#/components/examples/ChargeOffRequest415'
        '422':
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                ChargeOffRequest422:
                  $ref: '#/components/examples/ChargeOffRequest422'
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo:
                        There was a problem handling your request. Please
                        try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
      deprecated: false
      x-child-product-name: Accounts
      x-proxy-name: Submit chargeoff v1
      x-group-name: Batch Processing
  /v1/accounts/authorization/create:
    post:
      tags:
        - Authorization
      description: 'Create a new authorization related to the account'
      operationId: addNewAuthorization
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '12345678'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateAuthorizationRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CreateAuthorizationResponse'
        '400':
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CreateAuthorization:
                  $ref: '#/components/examples/CreateAuthorization400'
        '401':
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CreateAuthorization:
                  $ref: '#/components/examples/CreateAuthorization401'
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CreateAuthorization:
                  $ref: '#/components/examples/CreateAuthorization403'
        '404':
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CreateAuthorization:
                  $ref: '#/components/examples/CreateAuthorization404'
        '405':
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CreateAuthorization:
                  $ref: '#/components/examples/CreateAuthorization405'
        '406':
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CreateAuthorization:
                  $ref: '#/components/examples/CreateAuthorization406'
        '415':
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CreateAuthorization:
                  $ref: '#/components/examples/CreateAuthorization415'
        '422':
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CreateAuthorization:
                  $ref: '#/components/examples/CreateAuthorization422'
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo:
                        There was a problem handling your request. Please
                        try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
      deprecated: false
      x-child-product-name: Accounts
      x-proxy-name: Create authorization v1
      x-group-name: Authorization
  /v1/accounts/authorization/cancel:
    patch:
      tags:
        - Authorization
      description: 'Cancel an authorization related to the account'
      operationId: cancelAuthorization
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: 0012345678
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelAuthorizationRequest'
        required: true
      responses:
        '204':
          description: Authorization cancelled
        '400':
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CancelAuthorization:
                  $ref: '#/components/examples/CancelAuthorization400'
        '401':
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CancelAuthorization:
                  $ref: '#/components/examples/CancelAuthorization401'
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CancelAuthorization:
                  $ref: '#/components/examples/CancelAuthorization403'
        '404':
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CancelAuthorization:
                  $ref: '#/components/examples/CancelAuthorization404'
        '405':
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CancelAuthorization:
                  $ref: '#/components/examples/CancelAuthorization405'
        '406':
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CancelAuthorization:
                  $ref: '#/components/examples/CancelAuthorization406'
        '415':
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CancelAuthorization:
                  $ref: '#/components/examples/CancelAuthorization415'
        '422':
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                CancelAuthorization:
                  $ref: '#/components/examples/CancelAuthorization422'
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo:
                        There was a problem handling your request. Please
                        try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
      deprecated: false
      x-child-product-name: Accounts
      x-proxy-name: Cancel authorization v1
      x-group-name: Authorization
  /v1/accounts/statements/search:
    post:
      tags:
        - Statements
      description: 'Search for statement information given the account'
      operationId: getStatements
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: 0012345678
        - name: filter
          in: query
          description:
            "Retrieve summary or detail information of statement. Default\
            \ will be 'summary'.  \n\nfilter value 'summary' only includes the following\
            \ fields  \n- cardNumber  \n- statementDate  \n- statementEndingBalance\
            \  \n- delinquentAmount \n- statementFinanceChargeAmount  \n- minimumPaymentDueAmount\
            \  \n- paymentDueDate  \n\nfilter value of 'detail' includes all the fields\
            \ in the response.\n"
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: summary
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatementSearchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementSearchResponse'
              examples:
                Statement Search - Summary:
                  $ref: '#/components/examples/StatementSearchResponseSummary'
                Statement Search - Detail:
                  $ref: '#/components/examples/StatementSearchResponseDetail'
        '206':
          description: Partial Content
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/StatementSearchResponse'
        '400':
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                StatementSearch400:
                  $ref: '#/components/examples/StatementSearch400'
        '401':
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                StatementSearch401:
                  $ref: '#/components/examples/StatementSearch401'
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                StatementSearch403:
                  $ref: '#/components/examples/StatementSearch403'
        '404':
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                StatementSearch404:
                  $ref: '#/components/examples/StatementSearch404'
        '405':
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                StatementSearch405:
                  $ref: '#/components/examples/StatementSearch405'
        '406':
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                StatementSearch406:
                  $ref: '#/components/examples/StatementSearch406'
        '415':
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                StatementSearch415:
                  $ref: '#/components/examples/StatementSearch415'
        '422':
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                StatementSearch422:
                  $ref: '#/components/examples/StatementSearch422'
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo:
                        There was a problem handling your request. Please
                        try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
      deprecated: false
      x-child-product-name: Accounts
      x-proxy-name: Get statements v1
      x-group-name: Statements
  /v1/accounts/statements/pdf/search:
    post:
      tags:
        - Statements
      description: 'Retrieves the PDF Statement based on the account number'
      operationId: SearchStatementByYearMonth
      parameters:
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: 0012345678
      requestBody:
        description:
          Sending a request without any dates will return the last three
          monthly statements references as a list. Giving only the month in the request
          body, will default to the current year.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/StatementSearchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/pdfIdsResponse'
        '400':
          description: Bad Request
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo:
                        There was a problem handling your request. Please
                        try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
      deprecated: false
      x-child-product-name: Accounts
      x-proxy-name: Search statement by year and month v1
      x-group-name: Statements
  /v1/accounts/statements/pdf/{docId}:
    get:
      tags:
        - Statements
      description: 'Returns the binary in the PDF format based on the documentId provided'
      operationId: downloadPDFBinary
      parameters:
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: 0012345678
        - name: docId
          in: path
          description: The documentId for any given statement.
          required: true
          style: simple
          explode: false
          schema:
            maxLength: 85
            minLength: 1
            pattern: ^[A-F0-9]+$
            type: string
            example: E68A974727A06929B786939B8C68B030CA4E56A3079985834543673C575B740FBE67229617FB
      responses:
        '200':
          description: A binary PDF file from the documentId reference.
          content:
            application/pdf:
              schema:
                type: string
                format: binary
        '401':
          description: Unauthorized
        '403':
          description: Forbidden
        '404':
          description: Not Found
        '422':
          description: Unprocessable Entity
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo:
                        There was a problem handling your request. Please
                        try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
      deprecated: false
      x-child-product-name: Accounts
      x-proxy-name: Download PDF binary v1
      x-group-name: Statements
  /v2/accounts/search:
    post:
      tags:
        - Details
      description: 'Returns account information for the given account number based'
      operationId: getAccountV2
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '12345678'
        - name: filter
          in: query
          description:
            "Retrieve summary or detail response for account search results.\
            \ Defaults to 'summary'. \n\nfilter value of 'summary' only includes these\
            \ fields  \n- accountType  \n- description \n- customerName  \n- association\
            \  \n- accountStatus  \n\nfilter value of 'detail' includes more important\
            \  fields in the response.\n\nfilter value of 'all' includes all the  fields\
            \ in the response."
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: summary
      requestBody:
        description: accountSearchRequestV2
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountSearchRequestV2'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountSearchResponseV2'
              examples:
                Account Search - Summary:
                  $ref: '#/components/examples/AccountSearchResponseSummary'
                Account Search - Detail:
                  $ref: '#/components/examples/AccountSearchResponseDetail'
                Account Search - All:
                  $ref: '#/components/examples/AccountSearchResponseAll'
        '400':
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AccountSearch400:
                  $ref: '#/components/examples/AccountSearch400'
        '401':
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AccountSearch401:
                  $ref: '#/components/examples/AccountSearch401'
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AccountSearch403:
                  $ref: '#/components/examples/AccountSearch403'
        '404':
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AccountSearch404:
                  $ref: '#/components/examples/AccountSearch404'
        '406':
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AccountSearch406:
                  $ref: '#/components/examples/AccountSearch406'
        '415':
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AccountSearch415:
                  $ref: '#/components/examples/AccountSearch415'
        '422':
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                AccountSearch422:
                  $ref: '#/components/examples/AccountSearch422'
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo:
                        There was a problem handling your request. Please
                        try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
      deprecated: false
      x-child-product-name: Accounts
      x-proxy-name: Get account v2
      x-group-name: Details
  /v1/accounts/payOffBalance/search:
    post:
      tags:
        - Details
      description: 'Search for the payoff balance of the current day'
      operationId: getAccountPayOffBalances
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '12345678'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SearchPayoffBalanceRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchPayoffBalanceResponse'
        '400':
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                PayOffBalanceSearch400:
                  $ref: '#/components/examples/PayoffBalanceSearch400'
        '401':
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                PayOffBalanceSearch401:
                  $ref: '#/components/examples/PayoffBalanceSearch401'
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                PayOffBalanceSearch403:
                  $ref: '#/components/examples/PayoffBalanceSearch403'
        '404':
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                PayOffBalanceSearch404:
                  $ref: '#/components/examples/PayoffBalanceSearch404'
        '405':
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                PayOffBalanceSearch405:
                  $ref: '#/components/examples/PayoffBalanceSearch405'
        '406':
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                PayOffBalanceSearch406:
                  $ref: '#/components/examples/PayoffBalanceSearch406'
        '415':
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                PayOffBalanceSearch415:
                  $ref: '#/components/examples/PayoffBalanceSearch415'
        '422':
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
              examples:
                PayOffBalanceSearch422:
                  $ref: '#/components/examples/PayoffBalanceSearch422'
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo:
                        There was a problem handling your request. Please
                        try again. If the problem persists please contact Support
                      messageid: 25557-84290371-1
      deprecated: false
      x-child-product-name: Accounts
      x-proxy-name: Get payoff balance v1
      x-group-name: Details
  /v1/accounts/limits/search:
    post:
      tags:
        - Limits
      description: 'Returns the limit values for a given account'
      operationId: AccountsLimitSearchRequest
      parameters:
        - name: userId
          in: header
          description:
            Optional. User on behalf of whom the request is being made. userId
            must be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: johndoe
        - name: x-fapi-financial-id
          in: header
          description: Required. Provide 8 digit client id
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: 12345678
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountLimitSearchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountLimitSearchResponse'
        '400':
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        '401':
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        '404':
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        '409':
          description: Resource conflict
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/409Error'
        '415':
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo:
                        There was a problem handling your request.  Please
                        try again.  If the problem persists please contact Fiserv
                        ETSD at 888-243-2543 (you unique messageID included below)
                      messageid: 25557-84290371-1
      deprecated: false
      x-child-product-name: Accounts
      x-proxy-name: Accounts limit search request v1
      x-group-name: Limits
  /v1/limits:
    patch:
      tags:
        - Limits
      description: 'Used to update the credit limit, cash limit'
      operationId: updateLimits
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '12345678'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LimitsRequest'
        required: true
      responses:
        '204':
          description: Updated
        '400':
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/400Error'
        '401':
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/401Error'
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/403Error'
        '404':
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/404Error'
        '409':
          description: Resource conflict
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/409Error'
        '415':
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/415Error'
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo:
                        There was a problem handling your request.  Please
                        try again.  If the problem persists please contact Fiserv
                        ETSD at 888-243-2543 (you unique messageID included below)
                      messageid: 25557-84290371-1
      deprecated: false
      x-child-product-name: Accounts
      x-proxy-name: Update limits v1
      x-group-name: Limits
  /v1/accounts/transactions/search:
    post:
      tags:
        - Transactions
      description: 'Retrieves the list of Transactions for the account'
      operationId: getAccountTransactions
      parameters:
        - name: userId
          in: header
          description:
            Optional. User on behalf of whom the request is being made. userId
            must be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: johndoe
        - name: x-fapi-financial-id
          in: header
          description: Required. Provide 8 digit client id
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: 12345678
        - name: filter
          in: query
          description:
            'Provides the summary or details record for account transaction
            search. Defaults to summary.


            SUMMARY includes the following fields -


            transactionDateTime, merchantName, authorizationCode, transactioncode, transactionType,
            merchantCategoryCode, transactionStatus, transactionAmount, transactedCardOrAccountNumber,
            merchantCity, merchantState,


            DETAIL includes all the transaction search fields.'
          required: true
          style: form
          explode: true
          schema:
            type: string
          example: summary,detail
        - name: pageOffset
          in: query
          description: The starting point in the result set
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: '2'
        - name: pageLimit
          in: query
          description:
            The number of records to be returned. the maximum value for page
            limit is 50.
          required: false
          style: form
          explode: true
          schema:
            type: string
          example: '50'
      requestBody:
        description: AccountTransactionSearchRequest
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AccountTransactionSearchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTransactionSearchResponse'
        '206':
          description: Partial success response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AccountTransactionSearchResponse'
        '400':
          description: Invalid Request
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '401':
          description: Unauthorized access
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '403':
          description: Forbidden
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '404':
          description: Not Found
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '405':
          description: Method Not Allowed
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '406':
          description: Unacceptable
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '415':
          description: Unsupported Media Type
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '422':
          description: Unprocessable Entity
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '429':
          description: Too Many Requests
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/4xxError'
        '500':
          description: Internal Server Error
          headers:
            x-fapi-interaction-id:
              $ref: '#/components/headers/interactionId'
          content:
            application/json:
              schema:
                type: object
                example:
                  errorResponse:
                    code: 500-01
                    message: internal server error
                    developerInfo:
                      developerMessage: internal server error
                      moreInfo:
                        There was a problem handling your request.  Please
                        try again.  If the problem persists please contact Fiserv
                        ETSD at 888-243-2543 (you unique messageID included below)
                      messageid: 25557-84290371-1
      deprecated: false
      x-child-product-name: Accounts
      x-proxy-name: Get account transactions v1
      x-group-name: Transactions
components:
  schemas:
    400Error:
      type: object
      properties:
        type:
          type: string
          description: An URI reference that identifies the problem type
          example: https://developer.fiserv.com/product/CardDeveloper/docs/?path=docs/response-codes.md&branch=main
        title:
          type: string
          description: Short summary of the problem.
          example: Bad Request
        detail:
          type: string
          description: Specific explanation to the occurence of the problem.
          example: CONTENT-TYPE header required. Supported content-type is application/json
        instance:
          type: string
          description:
            A URI reference that identifies the specific occurence of the
            problem.
          example: /api/basepath
        status:
          type: number
          description:
            The HTTP status code generated by the origin server for this
            occurance of the problem.
          example: 400
    401Error:
      type: object
      properties:
        type:
          type: string
          description: An URI reference that identifies the problem type
          example: https://developer.fiserv.com/product/CardDeveloper/docs/?path=docs/response-codes.md&branch=main
        title:
          type: string
          description: Short summary of the problem.
          example: Unauthorized
        detail:
          type: string
          description: Specific explanation to the occurence of the problem.
          example: Invalid Access Token
        instance:
          type: string
          description:
            A URI reference that identifies the specific occurence of the
            problem.
          example: /api/basepath
        status:
          type: number
          description:
            The HTTP status code generated by the origin server for this
            occurance of the problem.
          example: 401
    403Error:
      type: object
      properties:
        type:
          type: string
          description: An URI reference that identifies the problem type
          example: https://developer.fiserv.com/product/CardDeveloper/docs/?path=docs/response-codes.md&branch=main
        title:
          type: string
          description: Short summary of the problem.
          example: Forbidden
        detail:
          type: string
          description: Specific explanation to the occurence of the problem.
          example: Authorization failure
        instance:
          type: string
          description:
            A URI reference that identifies the specific occurence of the
            problem.
          example: /api/basepath
        status:
          type: number
          description:
            The HTTP status code generated by the origin server for this
            occurance of the problem.
          example: 403
    404Error:
      type: object
      properties:
        type:
          type: string
          description: An URI reference that identifies the problem type
          example: https://developer.fiserv.com/product/CardDeveloper/docs/?path=docs/response-codes.md&branch=main
        title:
          type: string
          description: Short summary of the problem.
          example: Resource Not found
        detail:
          type: string
          description: Specific explanation to the occurence of the problem.
          example:
            No matching search results found or you do not have sufficient
            access rights to get search results matching your criteria.
        instance:
          type: string
          description:
            A URI reference that identifies the specific occurence of the
            problem.
          example: /api/basepath
        status:
          type: number
          description:
            The HTTP status code generated by the origin server for this
            occurance of the problem.
          example: 404
    409Error:
      type: object
      properties:
        type:
          type: string
          description: An URI reference that identifies the problem type
          example: https://developer.fiserv.com/product/CardDeveloper/docs/?path=docs/response-codes.md&branch=main
        title:
          type: string
          description: Short summary of the problem.
          example: Resource conflict
        detail:
          type: string
          description: Specific explanation to the occurence of the problem.
          example: Card is already present with the same status
        instance:
          type: string
          description:
            A URI reference that identifies the specific occurence of the
            problem.
          example: /api/basepath
        status:
          type: number
          description:
            The HTTP status code generated by the origin server for this
            occurance of the problem.
          example: 409
    415Error:
      type: object
      properties:
        type:
          type: string
          description: An URI reference that identifies the problem type
          example: https://developer.fiserv.com/product/CardDeveloper/docs/?path=docs/response-codes.md&branch=main
        title:
          type: string
          description: Short summary of the problem.
          example: Unsupported Media Type
        detail:
          type: string
          description: Specific explanation to the occurence of the problem.
          example: unsupported Media Type
        instance:
          type: string
          description:
            A URI reference that identifies the specific occurence of the
            problem.
          example: /api/basepath
        status:
          type: number
          description:
            The HTTP status code generated by the origin server for this
            occurance of the problem.
          example: 415
    4xxError:
      type: object
      properties:
        type:
          type: string
          description: An URI reference that identifies the problem type
          example: https://developer.fiserv.com/product/CardDeveloper/docs/?path=docs/response-codes.md&branch=main
        title:
          type: string
          description: Short summary of the problem.
          example: Invalid Request
        detail:
          type: string
          description: Specific explanation to the occurence of the problem.
          example: We had a problem getting your credit and debit card information.
        instance:
          type: string
          description:
            A URI reference that identifies the specific occurence of the
            problem.
          example: /v1/entity/example
        status:
          type: number
          description:
            The HTTP status code generated by the origin server for this
            occurance of the problem.
          example: 400
    LenderInstitutionAddress:
      required:
        - addressLine1
        - city
        - state
        - zipCode
      type: object
      properties:
        addressLine1:
          maxLength: 26
          minLength: 1
          type: string
          description: Line 1 for address.
          example: 2921 CARLISLE BLVD NL
        city:
          maxLength: 25
          type: string
          description: City name for address.
          example: ALBUQUERQUE
        state:
          maxLength: 2
          type: string
          description: State code for address.
          example: NM
        zipCode:
          type: string
          description:
            'Zipcode for Address. Format: XXXXX-XXXX or just the first
            5 digits XXXXX'
          example: '12345'
    BalanceTransfer:
      title: BalanceTransfer
      required:
        - balanceTransferAmount
        - lenderInstitutionAddress
        - lenderInstitutionName
        - lenderNumber
      type: object
      properties:
        balanceTransferAmount:
          type: string
          description:
            Balance Amount to be transferred. Format should be 0.00. The
            currency is USD.
          example: '1.00'
        lenderInstitutionName:
          maxLength: 26
          minLength: 1
          type: string
          description: Transferring institution name.
          example: ABC Bank
        lenderNumber:
          type: string
          description: Number of the transferring institution.
          example: '4000100020003000'
        checkSendCode:
          type: string
          description:
            Code representing whether the balance consolidation check should
            be mailed to the customer or the lender.Valid values are C, L and P.
          example: L
        lenderInstitutionAddress:
          $ref: '#/components/schemas/LenderInstitutionAddress'
    BalanceTransferRequest:
      title: BalanceTransferRequest
      required:
        - balanceTransfer
        - cardNumber
      type: object
      properties:
        cardNumber:
          maxLength: 19
          minLength: 16
          type: string
          description: The card number associated with the account.
          example: '4000100020003000'
        accountNumber:
          type: string
          description: Account identifier on the system of record.
          example: '123456789'
        balanceTransfer:
          $ref: '#/components/schemas/BalanceTransfer'
    AccountCreationResponse:
      type: object
      properties:
        accountNumber:
          type: string
          description: The newly generated account identifier.
          example: 400010XXXXXX3001
        cardNumber:
          type: string
          description: The newly generated primary card number.
          example: 400010XXXXXX3000
    AddNewAccountResponse:
      type: object
      properties:
        newAccount:
          type: array
          items:
            $ref: '#/components/schemas/AccountCreationResponse'
    AddNewAccountRequest:
      required:
        - address
        - agentIdentifier
        - creditLineAmount
        - pricingStrategy
        - primaryCardStock
        - primaryCustomerName
        - primaryPlasticCount
        - principalIdentifier
        - systemIdentifier
      type: object
      properties:
        responseFormat:
          type: string
          description:
            Determines how the user wants to see the response - masked
            or unmasked. This is an optional field and if not provided, then MASKED
            will be the default value.
          example: MASKED
          enum:
            - MASKED
            - UNMASKED
        systemIdentifier:
          type: string
          description:
            First Data-assigned identifier which is used to group principal
            identifiers together for processing and reporting. Valid length is 4 digits.
          example: '3771'
        principalIdentifier:
          type: string
          description:
            Client-defined identifier within a system identifier that is
            used to group agent identifiers together for processing and reporting.
            Valid length is 4 digits.
          example: '0050'
        agentIdentifier:
          type: string
          description:
            Client-defined identifier within a principal identifier that
            is used to group accounts together for processing and reporting. Valid
            length is 4 digits.
          example: '0000'
        primaryCustomerName:
          maxLength: 26
          minLength: 1
          type: string
          description: Primary cardholder’s name on account.
          example: Doe, John
        creditLineAmount:
          maxLength: 13
          type: string
          description: Amount of the credit limit on a customer's account.
          example: '100'
        primarySpecialHandling:
          type: string
          description:
            This indicate what value needs to be passed for rush type and
            plastic count while adding a new primary card. For instant issuance -
            primaryPlastiCount needs to be 000.
          example: NONE
          enum:
            - NONE
            - INSTANT_ISSUANCE
            - RUSH_PLASTIC
        primaryCardStock:
          maxLength: 2
          minLength: 2
          type: string
          description: Value to identify type of plastic stock to use for card generation.
          example: '00'
        pricingStrategy:
          maxLength: 8
          type: string
          description:
            The account's pricing strategy. Can be alphanumeric, but not
            special characters.
          example: AA01
        primaryPlasticCount:
          maxLength: 3
          minLength: 1
          type: string
          description: Number of plastics to be issued for primary cardholder.
          example: '001'
        primaryPersonalizedEmbossingText:
          maxLength: 26
          type: string
          description:
            Cardholder particular information, such as name, is printed
            in the form of a customised text message.
          example: Home Team
        primaryWorkEmailAddress:
          maxLength: 50
          type: string
          description: Primary cardholder's work email address.
          example: john.work@fiserv.com
        primaryHomeEmailAddress:
          maxLength: 50
          type: string
          description: Primary cardholder's home email address.
          example: john@gmail.com
        primaryMothersMaidenName:
          maxLength: 8
          type: string
          description: Mother's maiden name of the primary account owner.
          example: Smith
        primaryBirthDate:
          type: string
          description: Birth date for account owner.
          format: YYYY-MM-DD
          example: '1986-10-29'
        primarySsn:
          type: string
          description:
            The social security number or tax identifier of the primary
            cardholder. The valid length of social security is  9 and that of tax
            identifier is 24 characters.
          example: '123456789'
        primaryTaxId:
          type: string
          description:
            The tax identifier of the primary cardholder. The valid length
            of tax identifier is 24 characters.
          example: '23456789567'
        primaryHomePhoneNumber:
          maxLength: 18
          type: string
          description: Home telephone number of the primary account owner.
          example: '1005550001'
        primaryWorkPhoneNumber:
          maxLength: 18
          type: string
          description: Work telephone number of the primary account owner.
          example: '1005550002'
        primaryMobilePhoneNumber:
          maxLength: 18
          type: string
          description: Mobile number of the primary account owner.
          example: '1005550003'
        primaryFaxPhoneNumber:
          maxLength: 19
          type: string
          description: Fax number of the primary account owner.
          example: '1005550004'
        primaryClientDefinedNumber:
          maxLength: 18
          type: string
          description: Primary cardholder’s client defined phone number
          example: '0'
        primaryCreditBureauName:
          type: string
          description:
            Credit Bureau that provided the credit bureau score for primary
            cardholder ex 1-TransUnion, 2-Equifax, 3-Experian, 5-TransUnion Canada,
            6-Equifax Canada, 7 - Reserved for future use
          example: '1'
        primaryCreditBureauScoreDate:
          type: string
          description: Primary cardholder’s credit bureau score date YYMMDD
          format: YYYY-MM-DD
          example: '2025-08-08'
        primaryCreditBureauScoreNumber:
          type: string
          description:
            Primary cardholder’s credit bureau score number. It is a numeric
            value
          example: '123'
        primaryVerificationCode:
          type: string
          description:
            'Primary cardholder’s ID Type used for verification.Valid values
            are : 01,02,03,04,05,06,07,08,09,10,11,12,13,14,15,16,91'
          example: 09
        primaryCustomerIdDescription:
          type: string
          description:
            "Primary cardholder’s ID description for the verification code\
            \ provided. Valid values - \n- 01 - Client Controlled Customer Identifier\
            \ (CCC ID). \n- 02 - Canadian Social Insurance Number (SIN). \n- 03 -\
            \ Passport. \n- 04 - Government issued employer identification (e.g.,\
            \ EIN/TIN). \n- 05 - Alien identification number (e.g., I-551/Greencard).\
            \ \n- 06 - Other government issued photo identification (e.g., Military\
            \ ID or Matricula Consular card). \n- 07 - U.S. Social Security number\
            \ (SSN)/Individual Taxpayer Identification Number (ITIN). \n- 08 - Non-U.S.\
            \ taxpayer identification number (e.g., Mexican RFC). \n- 09 -  Driver’s\
            \ license. \n- 10 - National identification card. \n- 11 - Birth certificate.\
            \ \n- 12 - Marriage certificate. \n- 13 - Religious certificate (e.g.,\
            \ baptismal/christening certificate). \n- 14 - Voter registration identification\
            \ card. \n- 15 - Employer-issued employee identification. \n- 16 - Military\
            \ discharge (e.g., DD-214). \n- 91 - Other identification type (e.g.,\
            \ non-photo identifications) "
          example: '0'
        primaryCustomerIdExpirationDate:
          type: string
          description:
            The expiration date of the verification document that was provided
            in the customer description. Like, the expiration date of driver's license.
          format: YYYY-MM-DD
          example: '2024-12-12'
        primaryCustomerIdValue:
          maxLength: 30
          type: string
          description:
            The value of the verification code used. Like, the value of
            driver's license.
          example: I12345678
        primaryCustomerIdIssueDate:
          type: string
          description:
            The issue date of the verification document that was provided
            in the customer description. Like, the issue date of driver's license.
          format: YYYY-MM-DD
          example: '2024-12-12'
        billingCycleCode:
          maxLength: 2
          minLength: 2
          type: string
          description: Cycle code to identify when account will statement cycle
          example: '28'
        accountOwningBranch:
          maxLength: 5
          type: string
          description:
            The number of the branch that owns this account. Number identifying
            the bank that owns this account. Maximum length is 5 digits.
          example: '67862'
        dnaPersonNumber:
          maxLength: 9
          minLength: 1
          type: string
          description:
            This is an alphanumeric field used for core reporting on balance
            & status file.
          example: 78GH
        checkingsAccountNumber:
          type: string
          description: Cardholders checking account number
          example: '123456789'
        savingsAccountNumber:
          type: string
          description: Cardholders saving account number
          example: '123456789'
        accountCreditBureauReportCode:
          type: string
          description:
            "Credit Bureau code for the account. Valid values are - \n\
            - 1 - Individual. \n- 2 - Joint. \n- 3 - Authorized user. \n- 5 - Co-maker.\
            \ \n- 7 - Maker. \n- D - Request deletion. \n- R - Remove. \n- T - Terminate.\
            \ \n- W - Commercial. \n- X - Deceased. \n- Z - Do not report."
          example: Z
        militaryLendingActStatus:
          type: boolean
          description:
            Flag that indicates this the borrower is covered under the
            Military Lending Act
          example: false
        productTypeCode:
          type: string
          description:
            The product type of the account. Upto 3 bytes value. Default
            value is 001 for secured cards.
          example: '001'
        transitRoutingAccount:
          type: string
          description: Cardholders bank routing number. Maximum length is 9
          example: '123456789'
        payAheadCode:
          type: string
          description:
            "The code representing whether an account holder can pay more\
            \ than the minimum payment due for one cycle in order to cover the minimum\
            \ payment due for the next cycle. \n- 0 - Cardholder does not have the\
            \ pay ahead option. \n- 1 - The cardholder’s first payment posting after\
            \ the flag is set, and prior to statement cycling, applies as a pay ahead\
            \ payment. The system limits this code to one-cycle-use only. When the\
            \ account cycles, the system automatically resets the flag to zero to\
            \ prevent any additional payments from being applied to the pay ahead\
            \ field.  The system applies any amount in excess after the cardholder\
            \ pays the minimum payment due to future minimum payment due calculations.\
            \  This continues until the system reduces the pay ahead amount to zero.\
            \ \n- 7 - Turn pay ahead option off. Excess payment amounts do not qualify\
            \ for pay ahead. \n-8 - All payments posting to the cardholder’s account\
            \ are option 3 pay ahead payments. All payments that post to the account\
            \ before it cycles reduce the account balance and the system adds the\
            \ payments to the pay ahead field. The sum of all payments must be double\
            \ the amount of the calculated minimum payment due before the pay ahead\
            \ field applies to the minimum payment. After the account cycles, the\
            \ system reduces the accumulated amount in the pay ahead field to zero.\
            \ The flag remains set to 8 after the system generates the statement.\
            \ This permits all payments posting during the next cycle to apply to\
            \ the pay ahead field. \n- 9 - All payments posting to the cardholder’s\
            \ account are option 1 pay ahead payments. All payments that post to the\
            \ account during a cycle reduce the account balance and apply in full\
            \ to the pay ahead field. If the amount in this field exceeds the computed\
            \ minimum payment due at cycle time, the system retains this excess and\
            \ applies it to future minimum payment due calculations. This continues\
            \ until the amount in the pay ahead amount is reduced to zero."
          example: '0'
        automaticPaymentCode:
          type: string
          description:
            "Code representing whether the customer account is set up for\
            \ recurring automatic payments and, if so, whether to debit the customer’s\
            \ checking or savings account for the auto payment amount. Valid codes\
            \ are : \n- 0 - Do not calculate an automatic payment. \n- 1 - Unpaid\
            \ billed minimum payment due using the checking account. \n- 2 - Full\
            \ statemented balance or unpaid billed minimum payment due using the checking\
            \ account. \n- 3 - Full statemented balance, but will not subtract any\
            \ cycle to date disputes, adjustments, or payments. \n- 4 - Full statemented\
            \ balance using the checking account. \n- 5 - Unpaid billed minimum payment\
            \ due using the savings account. \n- 6 - Full statement ed balance or\
            \ unpaid billed minimum payment due using the savings account. \n- 7 -\
            \ Full statemented balance using the savings account. \n- 8 - Full statemented\
            \ balance, and will not subtract any cycle-to-date disputes or adjustments\
            \ but will subtract any cycle-to-date payments. \n- 9 - Higher of the\
            \ customer-designated amount or the unpaid billed minimum payment due.\
            \ \n- A - Minimum payment due minus the delinquent amount using the checking\
            \ account. \n- B - Minimum payment due minus the delinquent amount using\
            \ the savings account. \n- C - Last statemented balance times balance\
            \ calculation rate using the checking account. \n- D - Last statemented\
            \ balance times balance calculation rate using the savings account. \n\
            - E - Full balance amount using the checking account. \n- F - Full balance\
            \ amount using the savings account number. \n- G - Minimum payment due\
            \ minus cycle-to-date payments, returns, and special credits using the\
            \ checking account. \n- H - Customer designated amount plus unpaid billed\
            \ minimum payment due using the checking account. \n- I - Minimum payment\
            \ due minus cycle-to-date payments, returns, and special credits using\
            \ the savings account. \n- J - Customer designated amount using the checking\
            \ account. \n- K - Customer designated amount using the savings account.\
            \ \n- L - Customer designated amount minus cycle-to-date payments, returns,\
            \ and special credits using the checking account. \n- M - Customer designated\
            \ amount minus cycle-to-date payments, returns,and special credits using\
            \ the savings account. \n - N - Daily current balance option using the\
            \ checking account. \n- O - Daily current balance option using the savings\
            \ account. \n- P - Fixed payment amount minus any cycle-to-date payments\
            \ using the checking account. \n- Q - Fixed payment amount minus any cycle-to-date\
            \ payments using the savings account. \n- R - Customer designated amount\
            \ plus overlimit amount using the checking account. \n- S - Customer designated\
            \ amount plus overlimit amount using the savings account. \n- T - Unpaid\
            \ billed minimum payment due plus overlimit amount using the checking\
            \ account. \n- U - Unpaid billed minimum payment due plus overlimit amount\
            \ using the savings account. \n- V - Customer designated amount less any\
            \ cycle to date payments using the checking account. \n- W - Customer\
            \ designated amount less any cycle to date payments using the savings\
            \ account. \n- X - Customer designated amount plus unpaid billed minimum\
            \ payment due using the savings account. \n- Y - Customer designated amount\
            \ plus unpaid billed minimum payment due plus overlimit amount using the\
            \ checking account. \n- Z - Customer designated amount and unpaid billed\
            \ minimum payment due plus overlimit amount using the savings account."
          example: '0'
        firstEmployerName:
          maxLength: 26
          type: string
          description: Cardholders first employer name
          example: XYZ
        secondEmployerName:
          maxLength: 26
          type: string
          description: Cardholders second employer name
          example: ABC
        fixedPaymentAmount:
          type: string
          description: Cardholder fixed payment amount
          example: '0'
        autoPaymentDesignatedAmount:
          type: string
          description:
            The amount the customer agreed to pay via the automatic payment
            option.
          example: '0'
        secondaryBirthDate:
          type: string
          description: Secondary cardholder’s date of birth
          format: YYYY-MM-DD
          example: '2024-12-12'
        secondarySsn:
          maxLength: 9
          type: string
          description:
            The social security number secondary cardholder. The valid
            length of social security is 9 characters.
          example: '123456789'
        secondaryTaxId:
          maxLength: 24
          type: string
          description:
            The tax identifier of the secondary cardholder. The valid length
            of tax identifier is 24 characters.
          example: '23456789567'
        secondaryCustomerRoleTypeCode:
          type: string
          description:
            Secondary cardholder’s customer role code. Only valid value
            is 02
          example: '02'
        secondaryCustomerName:
          maxLength: 26
          type: string
          description: Secondary cardholder’s name
          example: John, Doe
        secondaryClientDefinedNumber:
          maxLength: 18
          type: string
          description: Secondary cardholder’s client defined phone number
          example: '1005550004'
        secondaryFaxPhoneNumber:
          maxLength: 19
          type: string
          description: Fax number of the secondary cardholder.
          example: '1005550004'
        secondaryHomePhoneNumber:
          maxLength: 18
          type: string
          description: Secondary cardholder’s home phone number
          example: '1005550001'
        secondaryMobilePhoneNumber:
          maxLength: 18
          type: string
          description: Secondary cardholder’s mobile phone number
          example: '1005550001'
        secondaryWorkPhoneNumber:
          maxLength: 18
          type: string
          description: Secondary cardholder’s work phone number
          example: '1005550001'
        secondaryCreditBureauDate:
          type: string
          description: Secondary cardholder’s credit bureau score date YYYYMMDD
          format: YYYY-MM-DD
          example: '2024-12-12'
        secondaryCreditBureauScoreNumber:
          type: string
          description: Secondary cardholder’s credit bureau score number
          example: '123'
        memberNumber:
          type: string
          description:
            Issuer-defined affinity number.  Identifier of another account
            associated with the principal customer on the account.  This value may
            also be used to link card accounts to the core processing system. Max
            length 16
          example: '001'
        secondaryPersonalizedEmbossingText:
          type: string
          description: Text printed on card in 4th line for secondary cardholder
          example: Home Team
        isEmployeeAccount:
          type: boolean
          description: Indicator if account is employee account
          example: true
        secondaryCreditBureauName:
          type: string
          description:
            Credit Bureau that provided the credit bureau score for secondary
            cardholder ex 1-TransUnion, 2-Equifax, 3-Experian, 5-TransUnion Canada,
            6-Equifax Canada
          example: '1'
        secondaryCardStock:
          type: string
          description: Value to identify type of plastic stock to use for card
          example: '00'
        pricingControlCode:
          type: string
          description:
            Used for card for life programs value ex. V1-visa classic,
            VS-visa signature
          example: V1
        promotionName:
          maxLength: 10
          type: string
          description: Promotion name that lead the cardholder to apply for the card
          example: ABHGT
        secondaryPlasticCount:
          type: string
          description:
            Number of plastics to be issued for secondary cardholder with
            maximum length 3.
          example: '0'
        miscellaneousFieldThreeIdentifier:
          type: string
          description: Client defined field with maximum length 7.
          example: ABC
        miscellaneousFieldFourIdentifier:
          type: string
          description: Client defined field with maximum length 10.
          example: ABC
        miscellaneousFieldFiveIdentifier:
          type: string
          description: Client defined field with maximum length 8.
          example: ABC
        miscellaneousFieldSixIdentifier:
          type: string
          description: Client defined field with maximum length 12
          example: ABC
        miscellaneousFieldEightIdentifier:
          type: string
          description: Client defined field with maximum length 10
          example: ABC
        miscellaneousFieldNineIdentifier:
          type: string
          description: Client defined field with maximum length 10
          example: ABC
        miscellaneousFieldTenIdentifier:
          type: string
          description: Client defined field with maximum length 10
          example: ABC
        miscellaneousFieldThirteenIdentifier:
          type: string
          description: Client defined field with maximum length 50
          example: ABC
        primaryUniqueId:
          type: string
          description:
            Primary cardholder’s ID record. Default to 01 when primaryCustomerIdDescription
            has value or else pass 00. Numeric only.
          example: '0'
        issuingCountryCode:
          type: string
          description:
            This field will be used when the primaryVerificationCode has
            value 09-Driver's license. This field denotes the country code where the
            driver's license was issued. ISO Country codes with max length 3.
          example: USA
        issuingState:
          type: string
          description:
            This field will be used when the primaryVerificationCode has
            value 09-Driver's license. This field denotes the state where the driver's
            license was issued. Maximum length is 25
          example: Nebraska
        creditInsuranceCode:
          type: string
          description:
            Code representing the type of rate you charge the cardholder
            account’s credit life insurance premium. This is only numeric with max
            length 1. A zero in this field indicates that you do not charge credit
            insurance premiums. Values 1 through 9 indicate that you charge the credit
            insurance premium  If you use this field to reinstate credit insurance
            coverage that has been terminated due to account delinquency, you must
            remove the account’s delinquency status before reinstating coverage.
          example: '0'
        creditProtectProductId:
          type: string
          description:
            Client-defined identifier of the credit protection product
            with max length 2, can be alphanumeric
          example: A0
        creditProtectMarketCode:
          type: string
          description:
            When utilizing Credit Protection Product ID to place insurance,
            a value of 000 needs to be sent in otherwise null.
          example: '000'
        applicationOfficerId:
          type: string
          description:
            ID of bank officer who approved application.Maximum length
            7, numeric.
          example: '0100235'
        controlAccountId:
          type: string
          description:
            Commercial card control account number - this is for commercial
            cards only. The account number entered into this field will become a control
            account and the new  account will become a sub-account underneath it
          example: '123456789'
        companyIdentifier:
          type: string
          description: Company Identifier - for commercial cards only
          example: TEST0002
        address:
          $ref: '#/components/schemas/AddNewAccountAddress'
    AddNewAccountAddress:
      required:
        - addressLine1
        - city
        - country
        - state
        - zipCode
      type: object
      properties:
        addressLine1:
          maxLength: 50
          minLength: 1
          type: string
          description: Text containing the first line of the company mailing address.
          example: 123 Any Street
        addressLine2:
          maxLength: 50
          type: string
          description: Text containing the second line of the mailing address.
          example: Apt 100
        addressLine3:
          maxLength: 50
          type: string
          description: Text containing the third line of the mailing address.
          example: PARSIPPANY
        addressLine4:
          maxLength: 50
          type: string
          description: Text containing the fourth line of the mailing address.
          example: NJ
        country:
          maxLength: 3
          type: string
          description:
            ISO code representing the country of the company-related commercial
            card address. It is a three-position code for a First Data-supported country.
          example: USA
        state:
          maxLength: 2
          type: string
          description: Name of the state.
          example: NJ
        zipCode:
          maxLength: 14
          type: string
          description: Postal code or zipcode associated with the address.
          example: '07054'
        city:
          maxLength: 25
          type: string
          description: City in which the company is located.
          example: Parsippany
        isFormattedAddress:
          type: boolean
          description:
[...]
