---
openapi: 3.0.0
info:
  title: Company
  description: Account Company Service API Documentation
  version: 1.3.0-Jan-2026
servers:
  - url: https://card.api.fiservapps.com/cs/companies
    description: Production url
  - url: https://card-sandbox.api.fiservapps.com/cs/companies
    description: Sandbox url
security:
  - bearerAuth: []
tags:
  - name: Add
    description: Add Resources that are applicable
  - name: Details
    description: Details Resources that are applicable
  - name: Notes
    description: Company Memo Resources that are applicable
  - name: Demographics
    description: Company Demographics Resources that are applicable
  - name: Accounts
    description: Company Accounts Resources that are applicable
paths:
  '/v1/id/search':
    post:
      tags:
        - Details
      description: |-
        This method is used to get a company's details by using a combination of company, system, principal & agent identifier.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: getCompanyInfo
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: CompanyIdSearch
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/CompanyIdSearchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CompanyIdSearchResponse'
              example:
                address:
                  - addressLine1: '123 ANY STREET'
                    addressLine2: 'APT 100'
                    addressLine3: 'PARSIPPANY'
                    addressLine4: 'NJ'
                    country: 'USA'
                    state: 'NJ'
                    zipCode: '07054'
                    city: 'PARSIPPANY'
                  - addressLine1: '123 ANY STREET'
                    addressLine2: 'APT 100'
                    addressLine3: 'PARSIPPANY'
                    addressLine4: 'NJ'
                    country: 'USA'
                    state: 'NJ'
                    zipCode: '07054'
                    city: 'PARSIPPANY'

                summary:
                  - companyIdentifier: 'TEST0002'
                    companyName: 'Fiserv'
                    systemIdentifier: '3771'
                    principalIdentifier: '0050'
                    agentIdentifier: '0000'
                    institutionName: '360 FEDERAL CREDIT UNION'
                    productName: '360 FCU VISA BUSINESS'
                    companyCreditLine: '100000'
                    companyAvailableCreditAmount: '86489'
                    companyContactTelephoneNumber: '9898989898'
                    openDate: '2020-07-15T00:00:00.000+0000'
                    lastChangeDate: '2021-09-17T00:00:00.000+0000'
                    billingCycleCode: '03'
                    annualFeeAmount: '0.0'
                    statementOptionCode: 'SEND_STATEMENTS_TO_ISSUER'
                    paperStatementSuppressCode: 'DO_NOT_SUPPRESS'
                    companyLastBillingDate: '2024-01-17T00:00:00.000+0000'
                    companyNextBillingDate: '2024-02-17T00:00:00.000+0000'
                    companyContactName: 'David'
                    principalOfficerName: 'Clara'
                    businessType: 'ASSOCIATIONS'
                    goodAccountOutstandingBalanceAmount: '13511'
                    externallyStatusedAccountsOutstandingBalance: '0'
                    companyCreditLineExceptionPercentage: '100'
                    cardholderCreditLineExceptionPercentageRate: '100'
                    federalTaxFormTaxTypeCode: 'SOCIAL_SECURITY'
                    federalTaxIdentifier: '981231256'
                    averageCardholderBalanceAmount: '3466'
                    goodAccountMaximumCreditLineAmount: '597600'
                    externallyStatusedAccountsMaximumCredit: '11250'
                    contractExpirationDate: '2099-12'
                    goodAccountsCount: '33'
                    externallyStatusedAccountsCount: '0'
                    fiscalYearEndCode: 'JAN'
                    generalLedgerCostCenterIdentifier: 'A32424RTRTREQW2311413241'
                    cdfIndicator: 'CDF_REPORORTING_NOT_ACTIVE'
                    vcfIndicator: 'VCF_REPORORTING_ACTIVE'
                    reportLanguageCode: 'ENGLISH'
                    miscellaneousField1Text: 'OP1'
                    miscellaneousField2Text: 'OP2'
                    miscellaneousField3Text: 'OP3'
                    miscellaneousField4Text: 'OP4'
                    creditScoreCode: '800'
                    numberOfEmployees: '10'
                    clientDefinedOneText: '1'
                    clientDefinedTwoText: '12'
                    clientDefinedThreeText: '123'
                    clientDefinedFourText: '123'
                    clientDefinedFiveText: '123'
                    clientDefinedSixText: '123'
                    clientDefinedSevenText: '1'
      deprecated: false
      x-child-product-name: Company
      x-group-name: Details
      x-proxy-name: Get company info v1
  '/v1/name/search':
    post:
      tags:
        - Details
      description: |-
        This method is used to get the list of company by using companyName. This will act as wild card search.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: getCompanyNameInfo
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: company
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/CompanySearchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CompanyNameResponse'
              example:
                summary:
                  - agentIdentifier: '0000'
                    companyCreditLine: '100000'
                    companyIdentifier: 'TEST0002'
                    companyName: 'Fiserv'
                    goodAccountsCount: '36'
                    principalIdentifier: '0050'
                    systemIdentifier: '3771'
                    address:
                      - addressLine1: '123 ANY STREET'
                        addressLine2: 'APT 100'
                        addressLine3: 'PARSIPPANY'
                        addressLine4: 'NJ'
                        country: 'USA'
                        state: 'NJ'
                        zipCode: '07054'
                        city: 'PARSIPPANY'
      deprecated: false
      x-child-product-name: Company
      x-group-name: Details
      x-proxy-name: Get company name info v1
  '/v1/notes':
    post:
      tags:
        - Notes
      description: |-
        This API is for adding company notes.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: CompanyAddNote
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: CompanyAddNote
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/CompanyNotesAddRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CompanyNoteAddResponse'
              example:
                noteId: '01'
                companyIdentifier: 'TEST0002'
                systemIdentifier: '3771'
                principalIdentifier: '0050'
                agentIdentifier: '0000'
                text: 'CREDIT LIMIT INCREASED'
      deprecated: false
      x-child-product-name: Company
      x-group-name: Notes
      x-proxy-name: Company add note v1
    patch:
      tags:
        - Notes
      description: |-
        This API is for updating company notes.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: UpdateCompanyMemoNote
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: CompanyMemoNoteUpdate
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/CompanyMemoNoteUpdateRequest'
        required: true
      responses:
        '204':
          description: Updated
      deprecated: false
      x-child-product-name: Company
      x-group-name: Notes
      x-proxy-name: Update company memo note v1
  '/v1/notes/search':
    post:
      tags:
        - Notes
      description: |-
        This API returns a list with one or multiple company notes with summary information.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: CompanyNoteSearch
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: CompanyNotesSearch
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/CompanyNotesSearchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CompanyNotesResponse'
              example:
                notes:
                  - noteId: '01'
                    operatorIdentifier: 'VSA'
                    date: '2024-02-02T00:00:00.000+0000'
                    text: 'CREDIT LIMIT INCREASED'
                  - noteId: '02'
                    operatorIdentifier: 'VSA'
                    date: '2024-02-03T00:00:00.000+0000'
                    text: 'ADDRESS UPDATED'
      deprecated: false
      x-child-product-name: Company
      x-group-name: Notes
      x-proxy-name: Company note search v1
  '/v1/memos':
    post:
      tags:
        - Notes
      description: |-
        This API is for adding company memos.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: AddCompanyMemo
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: CompanyAddMemo
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/CompanyMemosAddRequest'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CompanyMemoAddResponse'
              example:
                memoId: '01'
                companyIdentifier: 'TEST0002'
                systemIdentifier: '3771'
                principalIdentifier: '0050'
                agentIdentifier: '0000'
                text: 'CREDIT LIMIT DECREASED'
      deprecated: false
      x-child-product-name: Company
      x-group-name: Notes
      x-proxy-name: Add company memo v1
  '/v1/memos/search':
    post:
      tags:
        - Notes
      description: |-
        This API returns a list with one or multiple company memos with Summary Information.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: CompanyMemoSearch
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: CompanyMemosSearch
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/CompanyMemosSearchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CompanyMemosResponse'
              example:
                memos:
                  - memoId: '01'
                    operatorIdentifier: 'VSA'
                    date: '2024-02-21T00:00:00.000+0000'
                    text: 'CREDIT LIMIT INCREASE'
                  - memoId: '01'
                    operatorIdentifier: 'VSA'
                    date: '2024-02-21T00:00:00.000+0000'
                    text: 'CREDIT LIMIT INCREASE'
      deprecated: false
      x-child-product-name: Company
      x-group-name: Notes
      x-proxy-name: Company memo search v1
  '/v1/demographics':
    put:
      tags:
        - Demographics
      description: |-
        This API is used to delete demographic details associated to the company.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: DeleteCompanyDemographic
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: CompanyDemographicDelete
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/CompanyDemographicDeleteRequest'
        required: true
      responses:
        '204':
          description: No Content
      deprecated: false
      x-child-product-name: Company
      x-group-name: Demographics
      x-proxy-name: Delete company demographic v1
    post:
      tags:
        - Demographics
      description: |-
        This API will add demographic details for the parties associated with the company.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: addCompanyAssociationsDemographic
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: AddCompanyDemographicDetails
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/CompanyDemographicsAssociationsAdd'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CompanyDemographicAddResponse'
              example:
                companyIdentifier: 'TEST0002'
                systemIdentifier: '3771'
                principalIdentifier: '0050'
                agentIdentifier: '0000'
                primaryAddress:
                  sequenceNumber: '00001'
                previousAddress:
                  sequenceNumber: '00001'
                secondaryAddress:
                  sequenceNumber: '00001'
                individualGuaranter:
                  sequenceNumber: '00001'
                companyGuaranter:
                  sequenceNumber: '00001'
                individualOwner:
                  sequenceNumber: '00001'
                companyOwner:
                  sequenceNumber: '00001'
        '206':
          description: Partial success response
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CompanyDemographicAddResponse'
      deprecated: false
      x-child-product-name: Company
      x-group-name: Demographics
      x-proxy-name: Add company associations v1
    patch:
      tags:
        - Demographics
      description: |-
        This API will update demographic details of the associated parties of the company.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: updateCompanyAssociationsDemographic
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: UpdateCompanyDemographics
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/CompanyDemographicsAssociationsUpdate'
        required: true
      responses:
        '204':
          description: Updated
      deprecated: false
      x-child-product-name: Company
      x-group-name: Demographics
      x-proxy-name: Update company associations demographic v1
  '/v1/demographics/search':
    post:
      tags:
        - Demographics
      description: |-
        This API will return demographic details of the associated parties of the company.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: getCompanyDemographics
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: CompanyAssociationsDemographicDetails
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/CompanyDemographicAssociationSearchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/CompanyDemographicsSummary'
              example:
                primaryAddresses:
                  - sequenceNumber: '00001'
                    name: 'JESSE DOE'
                    workPhone: '9871625141'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'
                  - sequenceNumber: '00001'
                    name: 'JESSE DOE'
                    workPhone: '9871625141'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'

                previousAddresses:
                  - sequenceNumber: '00002'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'
                  - sequenceNumber: '00002'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'

                secondaryAddresses:
                  - sequenceNumber: '00003'
                    workPhone: '9877665542'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'
                  - sequenceNumber: '00003'
                    workPhone: '9877665542'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'

                individualGuarantors:
                  - sequenceNumber: '00004'
                    firstName: 'JESSE'
                    lastName: 'DOE'
                    middleInitial: 'M'
                    federalTaxFormTaxTypeCode: 'SOCIAL_SECURITY'
                    federalTaxIdentifier: '123456789'
                    workPhone: '7406520178'
                    alternativePhone: '9789120123'
                    emailAddress: 'JESSEDOE@EXAMPLE.COM'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'
                  - sequenceNumber: '00004'
                    firstName: 'JESSE'
                    lastName: 'DOE'
                    middleInitial: 'M'
                    federalTaxFormTaxTypeCode: 'SOCIAL_SECURITY'
                    federalTaxIdentifier: '123456789'
                    workPhone: '7406520178'
                    alternativePhone: '9789120123'
                    emailAddress: 'JESSEDOE@EXAMPLE.COM'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'

                companyGuarantors:
                  - sequenceNumber: '00005'
                    name: 'JESSE'
                    federalTaxFormTaxTypeCode: 'SOCIAL_SECURITY'
                    federalTaxIdentifier: '129956789'
                    workPhone: '7789120123'
                    alternativePhone: '9789120123'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'
                  - sequenceNumber: '00005'
                    name: 'JESSE'
                    federalTaxFormTaxTypeCode: 'SOCIAL_SECURITY'
                    federalTaxIdentifier: '129956789'
                    workPhone: '7789120123'
                    alternativePhone: '9789120123'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'

                individualOwners:
                  - sequenceNumber: '00006'
                    firstName: 'JOHN'
                    lastName: 'DOE'
                    middleInitial: 'M'
                    federalTaxFormTaxTypeCode: 'SOCIAL_SECURITY'
                    federalTaxIdentifier: '223456789'
                    workPhone: '7789120123'
                    emailAddress: 'JESSEDOE@EXAMPLE.COM'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'
                  - sequenceNumber: '00006'
                    firstName: 'JOHN'
                    lastName: 'DOE'
                    middleInitial: 'M'
                    federalTaxFormTaxTypeCode: 'SOCIAL_SECURITY'
                    federalTaxIdentifier: '223456789'
                    workPhone: '7789120123'
                    emailAddress: 'JESSEDOE@EXAMPLE.COM'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'

                companyOwners:
                  - sequenceNumber: '00007'
                    name: 'DAVID'
                    federalTaxFormTaxTypeCode: 'SOCIAL_SECURITY'
                    federalTaxIdentifier: '323456789'
                    workPhone: '7406520178'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'
                  - sequenceNumber: '00007'
                    name: 'DAVID'
                    federalTaxFormTaxTypeCode: 'SOCIAL_SECURITY'
                    federalTaxIdentifier: '323456789'
                    workPhone: '7406520178'
                    address:
                      addressLine1: '123 ANY STREET'
                      addressLine2: 'APT 100'
                      city: 'PARSIPPANY'
                      state: 'NJ'
                      country: 'USA'
                      zipCode: '07054'
      deprecated: false
      x-child-product-name: Company
      x-group-name: Demographics
      x-proxy-name: Get company demographics v1
  '/v1/company':
    post:
      tags:
        - Add
      description: |-
        This API is used to add a new company record.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: AddCompany
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '12345678'
      requestBody:
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/AddCompanyRequest'
        required: true
      responses:
        '201':
          description: Company record created
      deprecated: false
      x-child-product-name: Company
      x-group-name: Add
      x-proxy-name: Company add v1
    patch:
      tags:
        - Details
      description: |-
        This API is used to update the company summary fields such as companyCreditLimit,billingCycleCode, fiscalYearEndCode and paperStatementSuppressCode.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: CompanyCreditLimitUpdate
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: CompanyUpdate
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/CompanyUpdateRequest'
        required: true
      responses:
        '204':
          description: Updated
      deprecated: false
      x-child-product-name: Company
      x-group-name: Details
      x-proxy-name: Company credit limit update v1
  '/companies/v1/accounts/search':
    post:
      tags:
        - Accounts
      description: |-
        This API will return all accounts associated with a company.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: getCompanyAccountInfo
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: company
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/CompanyAccountSearchRequest'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/AccountSearchResponse'
              example:
                count: '1'
                summary:
                  - accountNumber: '4907570050500063'
                    cardholderName: 'DOE, JESSE'
                    accountType: 'SUB'
                    creditLimitAmount: '20000.00'
                    currentBalanceAmount: '21997.14'
                    controlAccountNumber: '4907570050500063'
                    minimumPaymentDueAmount: '200.00'
                    statementEndingBalanceAmount: '200.00'
                    lastStatementDate: '2024-01-03T00:00:00.000+0000'
                    nextPaymentDueDate: '2024-01-28T00:00:00.000+0000'
                    externalStatusCode: 'NORMAL'
                  - accountNumber: '4907570050500063'
                    cardholderName: 'DOE, JESSE'
                    accountType: 'SUB'
                    creditLimitAmount: '20000.00'
                    currentBalanceAmount: '21997.14'
                    controlAccountNumber: '4907570050500063'
                    minimumPaymentDueAmount: '200.00'
                    statementEndingBalanceAmount: '200.00'
                    lastStatementDate: '2024-01-03T00:00:00.000+0000'
                    nextPaymentDueDate: '2024-01-28T00:00:00.000+0000'
                    externalStatusCode: 'NORMAL'
        '201':
          description: Created
      deprecated: false
      x-child-product-name: Company
      x-group-name: Accounts
      x-proxy-name: Get company account info v1
  '/v1/accounts/controls':
    post:
      tags:
        - Accounts
      description: |-
        This API is used to add company control account.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: AddControlAccount
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: AddControlAccount
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/AddCompanyAccounts'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/AddAccountResponse'
              example:
                companyIdentifier: 'TEST0002'
                systemIdentifier: '3771'
                principalIdentifier: '0050'
                agentIdentifier: '0000'
                accountNumber: '4907570050534997'
                cardNumber: '4907570054342215'
                externalCustomerId: 'B24029052933423554035550'
      deprecated: false
      x-child-product-name: Company
      x-group-name: Accounts
      x-proxy-name: Add control account v1
  '/v1/accounts/individuals':
    post:
      tags:
        - Accounts
      description: |-
        This API is used to add individual account.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: AddIndividualAccount
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: AddIndividualAccounts
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/AddIndividualAccounts'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/AddAccountResponse'
              example:
                companyIdentifier: 'TEST0002'
                systemIdentifier: '3771'
                principalIdentifier: '0050'
                agentIdentifier: '0000'
                accountNumber: '4907570050534997'
                cardNumber: '4907570054342215'
                externalCustomerId: 'B24029052933423554035550'
      deprecated: false
      x-child-product-name: Company
      x-group-name: Accounts
      x-proxy-name: Add individual account v1
  '/v1/accounts/subs':
    post:
      tags:
        - Accounts
      description: |-
        This API is used to add sub account.
                <br><br>
                For more information go to <a href="/product/CardDeveloper/docs/?path=docs/resources.md/#company" title="Click to open">Resources.</a>
      operationId: AddSubAccount
      parameters:
        - name: x-fapi-userId
          in: header
          description:
            User on behalf of whom the request is being made. userId must
            be alphanumeric.
          required: false
          style: simple
          explode: false
          schema:
            type: string
          example: JOHNDOE
        - name: x-fapi-financial-id
          in: header
          description:
            The 8-digit unique financial institute id assigned to each FI
            by Fiserv.
          required: true
          style: simple
          explode: false
          schema:
            type: string
          example: '0012345678'
      requestBody:
        description: AddSubAccount
        content:
          application/json:
            schema:
              '$ref': '#/components/schemas/AddSubAccounts'
        required: true
      responses:
        '201':
          description: Created
          content:
            application/json:
              schema:
                '$ref': '#/components/schemas/AddAccountResponse'
              example:
                companyIdentifier: 'TEST0002'
                systemIdentifier: '3771'
                principalIdentifier: '0050'
                agentIdentifier: '0000'
                accountNumber: '4907570050534997'
                cardNumber: '4907570054342215'
                externalCustomerId: 'B24029052933423554035550'
      deprecated: false
      x-child-product-name: Company
      x-group-name: Accounts
      x-proxy-name: Add sub account v1
components:
  schemas:
    AddCompanyAddress:
      type: object
      properties:
        addressLine1:
          type: string
          description: Text containing the first line of the company mailing address
          example: 123 ANY STREET
        addressLine2:
          type: string
          description: Text containing the second line of the company mailing address
          example: APT 100
        addressLine3:
          type: string
          description: Text containing the third line of the company mailing address
          example: PARSIPPANY
        addressLine4:
          type: string
          description: Text containing the fourth line of the company mailing address
          example: NJ
        country:
          type: string
          description:
            ISO code representing the country of the company-related commercial
            card address. It is a three-position code for a First Data-supported country.
          example: USA
        state:
          type: string
          description: Name of the state.
          example: NJ
        zipCode:
          type: string
          description: Postal code or zipcode associated with the address.
          example: '07054'
        city:
          type: string
          description: City in which the company is located.
          example: PARSIPPANY
        addressBypassValidationCode:
          type: string
          description:
            Code determining whether the System bypasses the address during
            the automatic address correction phase of address validation. Max length
            can be 1 characters.
          example: B
        isFormattedAddress:
          type: boolean
          description:
            Indicates if address is an US address or international address.
            If set to true- Address Line 3 & 4 should be blank.
          example: true
    AddCompanyRequest:
      required:
        - address
        - agentIdentifier
        - balancePercentageOfUnitAverageRate
        - billingCycleCode
        - cardholderCreditLineExceptionPercentageRate
        - cardholderRecapSummaryReportFrequencyCode
        - companyContractExpirationDate
        - companyCreditLimit
        - companyCreditLineExceptionPercentageRate
        - companyIdentifier
        - companyName
        - employeeActivityReportFrequencyCode
        - fiscalYearEndCode
        - merchantSummaryAnalysisReportFrequencyCode
        - minorityVendorReportFrequencyCode
        - monthlyReportCode
        - nextReviewDate
        - principalIdentifier
        - systemIdentifier
      type: object
      properties:
        companyIdentifier:
          type: string
          description:
            Identifier of the company which can be alpanumeric. Maximum
            length can be 8 characters.
          example: TEST0002
        systemIdentifier:
          type: string
          description:
            First Data-assigned identifier which is used to group principal
            identifiers together for processing and reporting. Valid length is 4 digits.
          example: '3771'
        principalIdentifier:
          type: string
          description:
            Client-defined identifier within a system identifier that is
            used to group agent identifiers together for processing and reporting.
            Valid length is 4 digits.
          example: '0050'
        agentIdentifier:
          type: string
          description:
            Client-defined identifier within a principal identifier that
            is used to group accounts together for processing and reporting. Valid
            length is 4 digits.
          example: '0000'
        companyName:
          type: string
          description:
            Text describing the name of the company. Max length can be
            26 characters.
          example: TEST COMPANY
        fiscalYearEndCode:
          type: string
          description:
            Code representing the month that the fiscal year end occurs.
            Max length can be 2 characters.
          example: '03'
        companyContractExpirationDate:
          type: string
          description:
            Field representing the expiration of the company contract.
            Format MM/YY.
          example: 12/30
        nextReviewDate:
          type: string
          description: Date scheduled for its next review. Length 2, Format 99.
          example: '10'
        companyCreditLimit:
          type: string
          description:
            Amount of maximum credit extended to the commercial card account.
            Max length can be 15 characters.
          example: '100000'
        companyCreditLineExceptionPercentageRate:
          type: string
          description:
            Percentage of company credit line that the current balance
            must equal or exceed for reporting purposes. Max length can be 3 characters.
          example: '090'
        cardholderCreditLineExceptionPercentageRate:
          type: string
          description:
            Percentage of individual cardholder credit line that the current
            balance must equal or exceed for reporting purposes. Max length can be
            3 characters.
          example: '090'
        balancePercentageOfUnitAverageRate:
          type: string
          description:
            Percentage rate of unit average that a customers current balance
            must equal or exceed for reporting purposes. Max length can be 3 characters.
          example: '090'
        billingCycleCode:
          type: string
          description:
            Code determining which subaccounts for this company are verified
            in order to ensure that all subaccounts have the correct billing cycle
            code. Max length can be 2 characters.
          example: '12'
        minorityVendorReportFrequencyCode:
          type: string
          description:
            Code determining how often you want the System to generate
            the CA-012, Minority Vendor Report. Max length can be 1 characters.
          example: M
        merchantSummaryAnalysisReportFrequencyCode:
          type: string
          description:
            Code determining how often you want the System to generate
            the CC-807/CM-807, Merchant Summary Analysis Report. Max length can be
            1 characters.
          example: M
        monthlyReportCode:
          type: string
          description:
            Code determining how often you want the System to generate
            the monthly report. Max length can be 1 characters.
          example: C
        employeeActivityReportFrequencyCode:
          type: string
          description:
            Code determining how often you want the System to generate
            the CC-163/CM-163, Employee Activity Report. Max length can be 1 characters.
          example: M
        cardholderRecapSummaryReportFrequencyCode:
          type: string
          description:
            Code determining how often you want the System to generate
            the CC-180/CM-180, Cardholder Recap Summary Report. Max length can be
            1 characters.
          example: TEST0002
        annualFeeAmount:
          type: string
          description:
            Amount of annual fee billed to each cardholder within the company.
            Max length can be 13 characters.
          example: '999999999.99'
        inactiveMonthsCount:
          type: string
          description:
            Count of months a particular enhanced credit protection product
            has been in claimant status for a cardholder. Max length can be 2 characters.
          example: '12'
        reportFeeAmount:
          type: string
          description:
            Whole-dollar amount charged to the company for more than the
            default number of report copies. Max length can be 11 characters.
          example: '999999999'
        billingAccountIdentifier:
          type: string
          description: Identifier of the billing cccount. Max length can be 16 characters.
          example: '9999999999999'
        companyContactPhoneIdentifier:
          type: string
          description: Company contact phone identifier. Max length can be 19 characters.
          example: '9999999999999999'
        yearEstablishedDate:
          type: string
          description: Year the company was established. Valid length is 4 digits.
          example: '2004'
        employeeCount:
          type: string
          description:
            Number of Employees associated with the company. Valid length
            is 5 digits.
          example: '99999'
        infoSpanIndicator:
          type: string
          description:
            Indicator designating whether a client is an InfoSpan user
            receiving transaction and account information. Max length can be 1 characters.
          example: I
        externalStatusAReportCode:
          type: string
          description:
            Code determining how to report balances of accounts with external
            status A, authorization prohibited. Max length can be 1 characters.
          example: '0'
        externalStatusBReportCode:
          type: string
          description:
            Code determining how to report balances of accounts with external
            status B, authorization prohibited. Max length can be 1 characters.
          example: '0'
        externalStatusCReportCode:
          type: string
          description:
            Code determining how to report balances of accounts with external
            status C, authorization prohibited. Max length can be 1 characters.
          example: '0'
        externalStatusEReportCode:
          type: string
          description:
            Code determining how to report balances of accounts with external
            status E, authorization prohibited. Max length can be 1 characters.
          example: '0'
        externalStatusFReportCode:
          type: string
          description:
            Code determining how to report balances of accounts with external
            status F, authorization prohibited. Max length can be 1 characters.
          example: '0'
        externalStatusIReportCode:
          type: string
          description:
            Code determining how to report balances of accounts with external
            status I, authorization prohibited. Max length can be 1 characters.
          example: '0'
        externalStatusLReportCode:
          type: string
          description:
            Code determining how to report balances of accounts with external
            status L, authorization prohibited. Max length can be 1 characters.
          example: '0'
        externalStatusUReportCode:
          type: string
          description:
            Code determining how to report balances of accounts with external
            status U, authorization prohibited. Max length can be 1 characters.
          example: '0'
        externalStatusZReportCode:
          type: string
          description:
            Code determining how to report balances of accounts with external
            status Z, authorization prohibited. Max length can be 1 characters.
          example: '0'
        companyPercentBalanceExceptionReportCode:
          type: string
          description:
            Code determining how many copies of the CD-348, Company Percent
            of Balance Exception Report, to generate for the company. Max length can
            be 1 characters.
          example: '2'
        companyPercentBalanceExceptionDefaultCode:
          type: string
          description:
            Code determining how many copies of the CD-348, Company Percent
            of Balance Exception Report, to produce at no charge to the company. Max
            length can be 1 characters.
          example: '3'
        companyPercentBalanceExceptionPageBreakIndicator:
          type: string
          description:
            Code representing the level of page breaks for the CD-348,
            Company Percent of Balance Exception Report. Max length can be 1 characters.
          example: 'N'
        companyPercentageExceptionReportCode:
          type: string
          description:
            Code determining how many copies of the CD-349, Company Percentage
            Exception Report, to generate for the company. Max length can be 1 characters.
          example: '0'
        companyPercentageExceptionDefaultCode:
          type: string
          description:
            Code determining how many copies of the CD-349, Company Percentage
            Exception Report, to produce at no charge to the company. Max length can
            be 1 characters.
          example: '0'
        companyCardBillingReportCode:
          type: string
          description:
            Code determining how many copies of the CD-351, Company Card
            Billing Report, to generate for the company. Max length can be 1 characters.
          example: '0'
        companyCardBillingDefaultCode:
          type: string
          description:
            Code determining how many copies of the CD-351, Company Card
            Billing Report, to produce at no charge to the company. Max length can
            be 1 characters.
          example: '0'
        companyCardBillingPageBreakIndicator:
          type: string
          description:
            Code representing the level of page breaks for the CD-351,
            Company Card Billing Report. Max length can be 1 characters.
          example: '0'
        agingAndCreditLineAnalysisReportCode:
          type: string
          description:
            Code determining how many copies of the CD-352, Aging and Credit
            Line Analysis Report, to generate for the company. Max length can be 1
            characters.
          example: '0'
        agingAndCreditLineAnalysisDefaultCode:
          type: string
          description:
            Code determining how many copies of the CD-352, Aging and Credit
            Line Analysis Report, to produce at no charge to the company. Max length
            can be 1 characters.
          example: '0'
        agingAndCreditLineAnalysisPageBreakIndicator:
          type: string
          description:
            Code representing the level of page breaks for the CD-352,
            Aging and Credit Line Analysis Report. Max length can be 1 characters.
          example: '0'
        individualBillingSummaryReportCode:
          type: string
          description:
            Code determining how many copies of the CD-357, Individual
            Billing Summary Report, to generate for the company. Max length can be
            1 characters.
          example: '1'
        individualBillingSummaryDefaultCode:
          type: string
          description:
            Code determining how many copies of the CD-357, Individual
            Billing Summary Report, to produce at no charge to the company. Max length
            can be 1 characters.
          example: '1'
        individualBillingSummaryPageBreakIndicator:
          type: string
          description:
            Code representing the level of page breaks for the CD-357,
            Individual Billing Summary Report. Max length can be 1 characters.
          example: '1'
        employeeCashAdvanceReportCode:
          type: string
          description:
            Code determining how many copies of the CD-358, Employee Cash
            Advance Report, to generate for the company. Max length can be 1 characters.
          example: '1'
        employeeCashAdvanceDefaultCode:
          type: string
          description:
            Code determining how many copies of the CD-358, Employee Cash
            Advance Report, to produce at no charge to the company. Max length can
            be 1 characters.
          example: '1'
        employeeCashAdvancePageBreakIndicator:
          type: string
          description:
            Code representing the level of page breaks for the CD-358,
            Employee Cash Advance Report. Max length can be 1 characters.
          example: '1'
        employeeAirlineItineraryReportCode:
          type: string
          description:
            Code determining how many copies of the CD-292, Employee Airline
            Itinerary Report, to generate for the company. Max length can be 1 characters.
          example: '0'
        employeeAirlineItineraryDefaultCode:
          type: string
          description:
            Code determining how many copies of the CD-292, Employee Airline
            Itinerary Report, to produce at no charge to the company. Max length can
            be 1 characters.
          example: '0'
        employeeAirlineItineraryPageBreakIndicator:
          type: string
          description:
            Code representing the level of page breaks for the CD-292,
            Employee Airline Itinerary Report. Max length can be 1 characters.
          example: '0'
        returnedAirlineTicketTransactionReportCode:
          type: string
          description:
            Code determining how many copies of the CD-293, Returned Airline
            Ticket Transaction Report, to generate for the company. Max length can
            be 1 characters.
          example: '0'
        returnedAirlineTicketTransactionDefaultCode:
          type: string
          description:
            Code determining how many copies of the CD-293, Returned Airline
            Ticket Transaction Report, to produce at no charge to the company. Max
            length can be 1 characters.
          example: '0'
        returnedAirlineTicketTransactionPageBreakIndicator:
          type: string
          description:
            Code representing the level of page breaks for the CD-293,
            Returned Airline Ticket Transaction Report. Max length can be 1 characters.
          example: '0'
        vendorYearToDateSummaryReportCode:
          type: string
          description:
            Code determining how many copies of the CA-200, Vendor Year
            to Date Summary Report, to produce at no charge to the company. Max length
            can be 1 characters.
          example: '0'
        vendorYearToDateSummaryDefaultCode:
          type: string
          description:
            Code determining how many copies of the CA-200, Vendor Year
            to Date Summary Report, to produce at no charge to the company. Max length
            can be 1 characters.
          example: '0'
        minorityVendorReportCode:
          type: string
          description:
            Code determining how many copies of the CA-012, Minority Vendor
            Report, to generate for the company. Max length can be 1 characters.
          example: '0'
        minorityVendorDefaultCode:
          type: string
          description:
            Code determining how many copies of the CA-012, Minority Vendor
            Report, to produce at no charge to the company. Max length can be 1 characters.
          example: '0'
        minorityVendorPageBreakIndicator:
          type: string
          description:
            Code representing the level of page breaks for the CA-012,
            Minority Vendor Report. Max length can be 1 characters.
          example: '0'
        cardholderListReportCode:
          type: string
          description:
            Code determining how many copies of the CC-355/CM-355, Cardholder
            List Report, to generate for the company. Max length can be 1 characters.
          example: '0'
        cardholderListDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-355/CM-355, Cardholder
            List Report, to produce at no charge to the company. Max length can be
            1 characters.
          example: '0'
        merchantSummaryAnalysisReportCode:
          type: string
          description:
            Code determining how many copies of the CC-807/CM-807, Merchant
            Summary Analysis Report, to generate for the company. Max length can be
            1 characters.
          example: '0'
        merchantSummaryAnalysisDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-807/CM-807, Merchant
            Summary Analysis Report, to produce at no charge to the company. Max length
            can be 1 characters.
          example: '0'
        employeeActivityReportCode:
          type: string
          description:
            Code determining how many copies of the CC-163/CM-163, Employee
            Activity Report, to generate for the company. Max length can be 1 characters.
          example: '0'
        employeeActivityDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-163/CM-163, Employee
            Activity Report, to produce at no charge to the company. Max length can
            be 1 characters.
          example: '0'
        employeeActivityPageBreakIndicator:
          type: string
          description:
            Code representing the level of page breaks for the CC-163/CM-163,
            Employee Activity Report. Max length can be 1 characters.
          example: '0'
        vendorAnalysisByStateReportCode:
          type: string
          description:
            Code determining how many copies of the CC-164/CM-164, Vendor
            Analysis by State Report, to generate for the company. Max length can
            be 1 characters.
          example: '0'
        vendorAnalysisByStateDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-164/CM-164, Vendor
            Analysis by State Report, to produce at no charge to the company. Max
            length can be 1 characters.
          example: '0'
        vendorAnalysisReportCode:
          type: string
          description:
            Code determining how many copies of the CC-165/CM-165, Vendor
            Analysis Report, to generate for the company. Max length can be 1 characters.
          example: '0'
        vendorAnalysisDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-165/CM-165, Vendor
            Analysis Report, to produce at no charge to the company. Max length can
            be 1 characters.
          example: '0'
        cardholderRecapReportCode:
          type: string
          description:
            Code determining how many copies of the CC-166/CM-166, Cardholder
            Recap Report, to generate for the company. Max length can be 1 characters.
          example: '0'
        cardholderRecapDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-166/CM-166, Cardholder
            Recap Report, to produce at no charge to the company. Max length can be
            1 characters.
          example: '0'
        cardholderRecapPageBreakIndicator:
          type: string
          description:
            Code representing the level of page breaks for the CC-166/CM-166,
            Cardholder Recap Report. Max length can be 1 characters.
          example: '0'
        cardholderRecapSummaryReportCode:
          type: string
          description:
            Code determining how many copies of the CC-180/CM-180, Cardholder
            Recap Summary Report, to generate for the company. Max length can be 1
            characters.
          example: '0'
        cardholderRecapSummaryDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-180/CM-180, Cardholder
            Recap Summary Report, to produce at no charge to the company. Max length
            can be 1 characters.
          example: '0'
        cardholderRecapSummaryPageBreakIndicator:
          type: string
          description:
            Code representing the level of page breaks for the CC-180/CM-180,
            Cardholder Recap Summary Report. Max length can be 1 characters.
          example: '0'
        companyNoActivityExceptionReportCode:
          type: string
          description:
            Code determining how many copies of the CC-008/CM-008, Company
            No Activity Exception Report, to generate for the company. Max length
            can be 1 characters.
          example: '0'
        companyNoActivityExceptionDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-008/CM-008, Company
            No Activity Exception Report, to produce at no charge to the company.
            Max length can be 1 characters.
          example: '0'
        companyNoActivityExceptionPageBreakIndicator:
          type: string
          description:
            Code representing the level of page breaks for the CC-008/CM-008,
            Company No Activity Exception Report. Max length can be 1 characters.
          example: '0'
        pairByOriginationCityReportCode:
          type: string
          description:
            Code determining how many copies of the CC-088/CM-088, City
            Pair by Origination City Report, to generate for the company. Max length
            can be 1 characters.
          example: '0'
        pairByOriginationCityDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-088/CM-088, City
            Pair by Origination City Report, to produce at no charge to the company.
            Max length can be 1 characters.
          example: '0'
        pairByCarrierOriginationCityReportCode:
          type: string
          description:
            Code determining how many copies of the CC-089/CM-089, City
            Pair by Carrier and Origination City Report, to generate for the company.
            Max length can be 1 characters.
          example: '0'
        pairByCarrierOriginationCityDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-089/CM-089, City
            Pair by Carrier and Origination City Report, to produce at no charge to
            the company. Max length can be 1 characters.
          example: '0'
        vendorByGeographicLocationReportCode:
          type: string
          description:
            Code determining how many copies of the CC-090/CM-090, Vendor
            by Geographic Location Report, to generate for the company. Max length
            can be 1 characters.
          example: '0'
        vendorByGeographicLocationDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-090/CM-090, Vendor
            by Geographic Location Report, to produce at no charge to the company.
            Max length can be 1 characters.
          example: '0'
        personalUsageSICCodeStatReportCode:
          type: string
          description:
            Code determining how many copies of the CC-295/CM-295, SIC
            Code Stat Report of Personal Usage Report, to generate for the company.
            Max length can be 1 characters.
          example: '0'
        personalUsageSICCodeStatDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-295/CM-295, SIC
            Code Stat Report of Personal Usage Report, to produce at no charge to
            the company. Max length can be 1 characters.
          example: '0'
        personalUsageSICCodeStatPageBreakIndicator:
          type: string
          description:
            Code determining how many copies of the CC-295/CM-295, SIC
            Code Stat Report of Personal Usage Report, to produce at no charge to
            the company. Max length can be 1 characters.
          example: '0'
        vendorCategoryUsageReportCode:
          type: string
          description:
            Code determining how many copies of the CC-760/CM-760, Vendor
            Category Usage Report, to generate for the company. Max length can be
            1 characters.
          example: '0'
        vendorCategoryUsageDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-760/CM-760, Vendor
            Category Usage Report, to produce at no charge to the company. Max length
            can be 1 characters.
          example: '0'
        vendorCategoryUsagePageBreakIndicator:
          type: string
          description:
            Code determining how many copies of the CC-760/CM-760, Vendor
            Category Usage Report, to produce at no charge to the company. Max length
            can be 1 characters.
          example: '0'
        companySalesTaxReportCode:
          type: string
          description:
            Code determining how many copies of the CC-641/CM-641, Company
            Sales Tax Report, to generate for the company. Max length can be 1 characters.
          example: '0'
        companySalesTaxDefaultCode:
          type: string
          description:
            Code determining how many copies of the CC-641/CM-641, Company
            Sales Tax Report, to produce at no charge to the company. Max length can
            be 1 characters.
          example: '0'
        monthlyMicroficheReportCode:
          type: string
          description:
            Code determining the number of microfiche copies requested
            for monthly reports. Max length can be 1 characters.
          example: '0'
        dailyMicroficheReportCode:
          type: string
          description:
            Code determining the number of microfiche copies requested
            for daily and weekly reports. Max length can be 1 characters.
          example: '0'
        cardholderRecapReportFrequencyCode:
          type: string
          description:
            Code determining how often you want the System to generate
            the CC-166/CM-166, Cardholder Recap Report. Max length can be 1 characters.
          example: '1'
        principalOfficerText:
          type: string
          description:
            Text describing the principal Officer. Max length can be 26
            characters.
          example: John
        specialFlagCode:
          type: string
          description:
            Code identifying special characteristics or initiating certain
            actions. Max length can be 10 characters.
          example: '20'
        miscellaneousFieldOneCode:
          type: string
          description: Code based on issuer-assigned values. Max length can be 8 characters.
          example: '0'
        miscellaneousFieldTwoCode:
          type: string
          description: Code based on issuer-assigned values. Max length can be 8 characters.
          example: '0'
        miscellaneousFieldThreeCode:
          type: string
          description: Code based on issuer-assigned values. Max length can be 8 characters.
          example: '0'
        miscellaneousFieldFourCode:
          type: string
          description: Code based on issuer-assigned values. Max length can be 8 characters.
          example: '0'
        businessTypeCode:
          type: string
          description:
            Code determining the type of business of this company. Max
            length can be 5 characters.
          example: A
        annualFeeOptionCode:
          type: string
          description:
            Code determining how to assess annual fees and whether to charge
            annual fees to individual cardholders or to the designated billing account.
            Max length can be 1 characters.
          example: '0'
        companyContactName:
          type: string
          description:
            Name of contact person at the company. Max length can be 26
            characters.
          example: John
        creditScoreCode:
          type: string
          description:
            Code assigned based on the evaluation of the company's credit
            history. Max length can be 10 characters.
          example: '123'
        businessNatureCode:
          type: string
          description:
            Code assigned based on an issuer-defined value. Max length
            can be 26 characters.
          example: test
        otherRelationshipsCode:
          type: string
          description:
            Issuer-defined code determining other relationships that the
            company may have with the issuer. Max length can be 26 characters.
          example: '01313'
        payResponsibilityCode:
          type: string
          description:
            Code assigned based on an issuer-defined value. Max length
            can be 3 characters.
          example: '01'
        cashAccessCode:
          type: string
          description:
            Code representing an issuer-defined value. Max length can be
            10 characters.
          example: '01'
        masterCoverageCode:
          type: string
          description: Issuer-defined code. Max length can be 10 characters.
          example: '03'
        atmAccessCode:
          type: string
          description: Issuer-defined code. Max length can be 10 characters.
          example: '03'
        smartDataIndicator:
          type: string
          description:
            Code indicating whether to include information about this company
            on the Mastercard Smart Data file. Max length can be 1 characters.
          example: 'N'
        airlineReconciliationCode:
          type: string
          description: Issuer-defined code. Max length can be 10 characters.
          example: '02324'
        infoSpanAddressCode:
          type: string
          description:
            Code of electronic mailbox address at which clients receive
            transaction and account information. Max length can be 1 characters.
          example: '02324'
        reportBannerName:
          type: string
          description:
            Name of person or department to appear below the company address
            on report banner pages. Max length can be 26 characters.
          example: John
        reportMailCode:
          type: string
          description:
            Code whether the mail of report should be recieved. Max length
            can be 1 characters.
          example: 'Y'
        reassignedMonetaryReportSelectCode:
          type: string
          description:
            Code determining how many copies of the CD-1550, Reassigned
            Monetary Report, to generate for the company. Max length can be 1 characters.
          example: '0'
        reassignedMonetaryReportDefault:
          type: string
          description:
            Code determining how many copies of the CD-1550, Reassigned
            Monetary Report, to produce at no charge to the company. Max length can
            be 1 characters.
          example: '0'
        lateFeeDiversionAccountIdentifier:
          type: string
          description:
            Identifier of the account to which late fees are set to divert.
            Max length can be 16 characters.
          example: '999998998'
        cashItemFeeDiversionAccountIdentifier:
          type: string
          description:
            Account number to which cash advance item fees are set to divert.
            Max length can be 16 characters.
          example: '999998998'
        overlimitFeeDiversionAccountIdentifier:
          type: string
          description:
            Account number to which overlimit fees are set to divert. Max
            length can be 16 characters.
          example: '999998998'
        statementFeeDiversionAccountIdentifier:
          type: string
          description:
            Account number to which statement fees are set to divert. Max
            length can be 16 characters.
          example: '999998998'
        merchandiseItemFeeDiversionAccountIdentifier:
          type: string
          description:
            Identifier of the account to which merchandise item fees are
            set to divert. Max length can be 16 characters.
          example: '999998998'
        interestMethodFeeDiversionAccountIdentifier:
          type: string
          description:
            Identifier of the account to which interest method fees are
            set to divert. Max length can be 16 characters.
          example: '999998998'
        creditLifeFeeDiversionAccountIdentifier:
          type: string
          description:
            Identifier of the account to which interest method fees are
            set to divert. Max length can be 16 characters.
          example: '999998998'
        superCompanyIdentifier:
          type: string
          description:
            Identifier of the super company to which the current company
            or account belongs. Max length can be 8 characters.
          example: '0'
        companySummaryReportCreationIndicator:
          type: string
          description:
            Indicator determining the creation of Company Summary report.
            Max length can be 1 characters.
          example: 'N'
        companySummaryReportFrequencyCode:
          type: string
          description:
            Code determining when you want the System to generate the Commercial
            Market Analysis Report. Max length can be 1 characters.
          example: A
        companySummaryReportPeriodCode:
          type: string
          description:
            Code representing the time period on which the Commercial Market
            Analysis Report information is based. Max length can be 1 characters.
          example: C
        companySummaryReportLogoIndicator:
          type: string
          description:
            Indicator designating whether the System should display the
            heading icons and issuer logo on the Commercial Market Analysis Reports.
            Max length can be 1 characters.
          example: 'Y'
        cardholderDetailReportCreationIndicator:
          type: string
          description:
            Indicator determining the creation of Cardholder details report.
            Max length can be 1 characters.
          example: 'N'
        cardholderDetailReportFrequencyCode:
          type: string
          description:
            Code determining when you want the System to generate the Commercial
            Market Analysis Report. Max length can be 1 characters.
          example: A
        cardholderDetailReportPeriodCode:
          type: string
          description:
            Code representing the time period on which the Commercial Market
            Analysis Report information is based. Max length can be 1 characters.
          example: C
        cardholderDetailReportLogoIndicator:
          type: string
          description:
            Indicator designating whether the System should display the
            heading icons and issuer logo on the Commercial Market Analysis Reports.
            Max length can be 1 characters.
          example: 'Y'
        cardholderSummaryReportCreationIndicator:
          type: string
          description:
            Indicator determining the creation of Cardholder Summary report.
            Max length can be 1 characters.
          example: 'N'
        cardholderSummaryReportFrequencyCode:
          type: string
          description:
            Code determining when you want the System to generate the Commercial
            Market Analysis Report. Max length can be 1 characters.
          example: A
        cardholderSummaryReportPeriodCode:
          type: string
          description:
            Code representing the time period on which the Commercial Market
            Analysis Report information is based. Max length can be 1 characters.
          example: C
        cardholderSummaryReportLogoIndicator:
          type: string
          description:
            Indicator designating whether the System should display the
            heading icons and issuer logo on the Commercial Market Analysis Reports.
            Max length can be 1 characters.
          example: 'Y'
        annualReportCreationCode:
          type: string
          description:
            Indicator determining the creation of Cardholder Summary report.
            Max length can be 1 characters.
          example: '0'
        annualReportPeriodCode:
          type: string
          description:
            Code representing the time period on which the Commercial Market
            Analysis Report information is based. Max length can be 1 characters.
          example: '0'
        annualReportLogoIndicator:
          type: string
          description:
            Indicator designating whether the System should display the
            heading icons and issuer logo on the Commercial Market Analysis Reports.
            Max length can be 1 characters.
          example: 'Y'
        issuerDescriptionText:
          type: string
          description:
            Text containing an issuer or company-defined message that displays
            at the top, right-hand side of the Commercial Market Analysis Reports.
            Max length can be 30 characters.
          example: John company
        issuerLogoIdentifier:
          type: string
          description:
            Fiserv-assigned code representing the issuer logo that will
            display on the Commercial Market Analysis Reports. Max length can be 8
            characters.
          example: 'N'
        companyFlexibleBillingCode:
          type: string
          description:
            Code representing the flexible billing option selected for
            this company. Max length can be 1 characters.
          example: 'N'
        statementBillingFileCode:
          type: string
          description:
            Code indicating whether a company will receive the statement
            billing file and at what frequency. Max length can be 1 characters.
          example: 'N'
        cardholderDetailQuarterlyDetailInclusionCode:
          type: string
          description:
            Code determining whether the CQ-143/CA-143, Cardholder Detail
            reports, include all year-to-date transactions or only transactions for
            the current quarter. Max length can be 1 characters.
          example: A
        smallBusinessReportControlAccountIndicator:
          type: string
          description:
            Code indicating whether control accounts are included in Commercial
            Market Analysis Reports. Max length can be 1 characters.
          example: 'Y'
        vendorYrToDateSummaryFrequencyCode:
          type: string
          description:
            Code determining how often the System generates the CA-200,
            Vendor Year to Date Summary. Max length can be 1 characters.
          example: Q
        dailyBulkMailCode:
          type: string
          description:
            Code representing the shipping method for bulk shipments of
            daily issue plastics. Max length can be 3 characters.
          example: '999'
        dailyBulkMailIdentifier:
          type: string
          description:
            Code representing the shipping method for bulk shipments of
            daily issue plastics. Max length can be 12 characters.
          example: '12324234'
        reissueBulkMailCode:
          type: string
          description:
            Code representing the shipping method for bulk shipments of
            reissue plastics. Max length can be 3 characters.
          example: '999'
        reissueBulkMailIdentifier:
          type: string
          description:
            Client-defined identifier of the address to which reissue plastics
            are to be shipped in bulk. Max length can be 12 characters.
          example: '013242134'
        fleetMailCode:
          type: string
          description:
            Code determining where the customized retail fleet reports
            are sent. Max length can be 1 characters.
          example: '1'
        fleetVehicleReportCode:
          type: string
          description:
            Count of copies of the CD-4816, Fleet Vehicle Report, that
            the System generates at statement cycle time for your retail fleet customer.
            Max length can be 1 characters.
          example: '5'
        fleetDriverReportCode:
          type: string
          description:
            Count of copies of the CD-4817, Fleet Driver Report, that the
            System generates at statement cycle time for your retail fleet customer.
            Max length can be 1 characters.
          example: '5'
        fleetExceptionReportCode:
          type: string
          description:
            Count of copies of the CD-4818, Fleet Exception Report, that
            the System generates at statement cycle time for your retail fleet customer.
            Max length can be 1 characters.
          example: '5'
        fleetServiceStationActivityReportCode:
          type: string
          description:
            Count of copies of the CD-4819, Fleet Service Station Activity
            Report, that the System generates at statement cycle time for your retail
            fleet customer. Max length can be 1 characters.
          example: '5'
        fleetExpenseSummaryReportCode:
          type: string
          description:
            Count of copies of the CD-4820, Fleet Expense Summary Report
            by Month/Year, that the System generates at statement cycle time for your
            retail fleet customer. Max length can be 1 characters.
          example: '5'
        fleetExpenseSummaryBUReportCode:
          type: string
          description:
            Count of copies of the CD-4821, Fleet Expense Summary Report
            by Business Unit, that the System generates at statement cycle time for
            your retail fleet customer. Max length can be 1 characters.
          example: '5'
        fleetProductPurchaseSummaryReportCode:
          type: string
          description:
            Count of copies of the CD-4822, Fleet Product Purchase Summary
            Report, that the System generates at statement cycle time for your retail
            fleet customer. Max length can be 1 characters.
          example: '5'
        profileReportGenerationIndicator:
          type: string
          description:
            Indicates whether profile report to be generated. Max length
            can be 1 characters.
          example: 'Y'
        fleetDataFileIdentifier:
          type: string
          description:
            Client-defined identifier of the retail fleet output file record
            that the System produces. Max length can be 3 characters.
          example: '999'
        companyOverrideStrategyIdentifier:
          type: string
          description:
            Identifier of the COV authorization strategy assigned at the
            company level. Max length can be 4 characters.
          example: '1234'
        addressBypassValidationCode:
          type: string
          description:
            Code determining whether the System bypasses the address during
            the automatic address correction phase of address validation. Max length
            can be 1 characters.
          example: B
        companyRewardAnnualEnrollmentFeeAmount:
          type: string
          description:
            Amount of the company level Rewards program annual enrollment
            fee. Max length can be 9 characters.
          example: '9999999.99'
        companyRewardInitialEnrollmentFeeAmount:
          type: string
          description:
            Amount of the company level Rewards program initial enrollment
            fee. Max length can be 9 characters.
          example: '99999.99'
        defaultBonusStrategyIdentifier:
          type: string
          description:
            Identifier of the default Rewards strategy for a companys accounts.
            Max length can be 8 characters
          example: '12345678'
        defaultTradeCardIdentifier:
          type: string
          description:
            Identifier of the default account that will receive the Rewards
            points for the company. Max length can be 16 characters.
          example: '013242134'
        commercialCardFileIndicator:
          type: string
          description:
            Code representing whether this company is included in, or excluded
            from, the Commercial Card File. Max length can be 1 characters.
          example: 'Y'
        firstCommercialCardFileDestinationText:
          type: string
          description:
            Code representing an electronic mailbox address to which the
            System transmits the Commercial Card File. Max length can be 8 characters.
          example: '523233'
        secondCommercialCardFileDestinationText:
          type: string
          description:
            Code representing second electronic mailbox address to which
            the System transmits the Commercial Card File. Max length can be 8 characters.
          example: '533112'
        parentCompanySystemIdentifier:
          type: string
          description:
            Identifier of the system in the parent system, principal, agent,
            and company to which the company belongs for reporting purposes. Max length
            can be 4 characters.
          example: '3465'
        parentCompanyPrincipalIdentifier:
          type: string
          description:
            Identifier of the principal in the parent system, principal,
            agent, and company to which the company belongs for reporting purposes.
            Max length can be 4 characters.
          example: '5342'
        parentCompanyAgentIdentifier:
          type: string
          description:
            Identifier of the agent in the parent system, principal, agent,
            and company to which the company belongs for reporting purposes. Max length
            can be 4 characters.
          example: '5111'
        parentCompanyIdentifier:
          type: string
          description:
            Identifier of the company in the parent system, principal,
            agent, and company to which the company belongs for reporting purposes.
            Max length can be 8 characters.
          example: '532321'
        clientDefinedOneText:
          type: string
          description: Client-defined field 1. Max length can be 1 characters.
          example: A
        clientDefinedTwoText:
          type: string
          description: Client-defined field 2. Max length can be 2 characters.
          example: B2
        clientDefinedThreeText:
          type: string
          description: Client-defined field 3. Max length can be 3 characters.
          example: C12
        clientDefinedFourText:
          type: string
          description: Client-defined field 4. Max length can be 40 characters.
          example: B23423 2323
        clientDefinedFiveText:
          type: string
          description: Client-defined field 5. Max length can be 40 characters.
          example: Test
        clientDefinedSixText:
          type: string
          description: Client-defined field 6. Max length can be 40 characters.
          example: Test
        clientDefinedSevenText:
          type: string
          description: Client-defined field 5. Max length can be 1 characters.
          example: G
        companyOverrideStrategyLevelCode:
          type: string
          description:
            Code designating the level at which the COV authorization strategy
            was built. Max length can be 1 characters.
          example: A
        fleetExceptionReportingStrategyLevelCode:
          type: string
          description:
            Code representing the level at which fleet exception reporting
            strategies are defined for the company. Max length can be 1 characters.
          example: C
        companyCreditAuthorizationOverrideCode:
          type: string
          description:
            Code representing whether the System performs an additional
            authorization check at the company or super company level. Max length
            can be 1 characters.
          example: 'N'
        companyMultipleLevelAuthorizationOverrideCode:
          type: string
          description:
            Code representing whether multiple-level authorization override
            processing is enabled for the company. Max length can be 1 characters.
          example: 'Y'
        generalLedgerCostCenterIdentifier:
          type: string
          description:
            Identifier of the cost center used for this Transaction Account
            Number (TAN) transaction. Max length can be 24 characters.
          example: '51231312'
        companyPaperStatementSuppressCode:
          type: string
          description:
            Code representing the type(s) of company-related commercial
            card accounts for which the production of paper billing statements is
            suppressed. Max length can be 1 characters.
          example: '4'
        reviewOfficerCode:
          type: string
          description:
            Officer responsible for reviewing the company account at the
            issuer location. Max length can be 10 characters.
          example: John
        superCompanySystemIdentifier:
          type: string
          description:
            Identifier of the Fiserv-assigned system number for a super
            company account. Max length can be 4 characters.
          example: '5234'
        superCompanyPrincipalIdentifier:
          type: string
          description:
            Identifier of the Fiserv-assigned principal number for a super
            company account. Max length can be 4 characters.
          example: '5231'
        superCompanyAgentIdentifier:
          type: string
          description:
            Identifier of the Fiserv-assigned agent number for a super
            company account. Max length can be 4 characters.
          example: '1234'
        creditLineOverLimitExpansionInd:
          type: string
          description:
            Code representing whether a company is using the credit overlimit
            expansion option. Max length can be 1 characters.
          example: '1'
        creditLineOverLimitExpansionPrcntNum:
          type: string
          description:
            Percentage over the credit line for which the company can be
            overlimit and authorize transactions. Max length can be 3 characters.
          example: '99'
        address:
          '$ref': '#/components/schemas/AddCompanyAddress'
    CompanyIdSearchRequest:
      required:
        - agentIdentifier
        - companyIdentifier
        - principalIdentifier
        - systemIdentifier
      type: object
      properties:
        companyIdentifier:
          type: string
          description: Identifier of the company. Max length can be 8 characters.
          example: TEST0002
        systemIdentifier:
          type: string
          description:
            First Data-assigned identifier which is used to group principal
            identifiers together for processing and reporting. Valid length is 4 digits.
          example: '3771'
        principalIdentifier:
          type: string
          description:
            Client-defined identifier within a system identifier that is
            used to group agent identifiers together for processing and reporting.
            Valid length is 4 digits.
          example: '0050'
        agentIdentifier:
          type: string
          description:
            Client-defined identifier within a principal identifier that
            is used to group accounts together for processing and reporting. Valid
            length is 4 digits.
          example: '0000'
    CompanySearchRequest:
      required:
        - companyName
        - systemIdentifier
      type: object
      properties:
        companyName:
          type: string
          description: Name of the company.
          example: Fiserv
        systemIdentifier:
          type: string
[...]
